<head>

	<title>Jouwpers - Nieuwsoverzicht</title>
	<meta name="description"
		content="Jouw perspectief op het nieuws.">
	
	<meta name="viewport" content="width=640, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="icon" href="/assets/logos/newnews_bw_simplified.png">
	
	<link rel="apple-touch-icon" href="/assets/logos/newnews_bw_simplified_white_bg.png">
	<meta name="apple-mobile-web-app-title" content="jouwpers">
	<meta name="apple-mobile-web-app-status-bar-style" content="white">
	
</head>

<body ng-app="yourpers" ng-controller="MainCtrl as $ctrl">

	<div ng-if="$ctrl.showMobile" ng-cloak>
	
		<yourpers-loader></yourpers-loader>

		<yourpers-menu></yourpers-menu>
		
		<div ng-view></div>

		<yourpers-feedback></yourpers-feedback>

	</div>

	<div ng-if="!$ctrl.showMobile" ng-cloak>
	
		<yourpers-mobile-preview></yourpers-mobile-preview>

	</div>
	
</body>