@import url("http://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,600,700,900");


@import "../imports/style/variables.less";

@import "../imports/style/bootstrap.less";

.red {
	color: @brand-color;
	//color: rgba(0, 0, 0, 0.7);
}

html * {max-height:1000000px;}

html, body {
   -webkit-overflow-scrolling : touch !important;
    overflow: auto !important;
    height: 100% !important;
}


html {
	
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently supported by Chrome and Opera */
	box-sizing: initial !important;
	
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
    color: #3d448b;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    background: linear-gradient(to top, rgba(236, 233, 230, 0.36), #ffffff);
    font-size: 3vw;
    margin: 0px;

}

.logo-desktop {
	width:4.5vw;
	margin-top: -0.5vw;
	
}	

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .2;
}

[sidebarjs-container] {
	background:#f9f9f9 !important;
}




