/* app css stylesheet */

@import url(http://fonts.googleapis.com/css?family=Lato:400,500,600,900);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,600);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500');

@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans|Oswald|Raleway|Roboto');

	
html {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
	box-sizing: initial !important;
}

.menu-view-switch {
	float:right;
	padding-right:4vw;
}

/* .lity-iframe-container {
  padding-top: 80vw; 4:3 ratio
} */

a {
	color: inherit;
	text-decoration: none;
}
body {
	font-size: 20px;
	font-family: 'Open Sans', verdana, sans-serif;
	/* color: #fff; */
	color:#3d448b;
	text-align: center;
	/* background: #ECECEC; */
	background: #f9f9f9;
	font-size:3vw;
	margin:0px;
}


.menu {
    list-style: none;
    /* border-bottom: 0.1em solid #3d448b; */
    
    border-top: 0.08em solid #d4d4d4;
    margin-bottom: 2em;
    padding: 0.5em 0 0.5em;
    background: white;
    color: #3d448b;
    font-family: "Montserrat", verdana, sans-serif;;
    font-size: 4vw;
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  padding-right: 0.3em;
}

/*  For list */
ul {
	text-align: left;
	margin: 5% 0 0;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0 0 0 5%;
	padding: 0;
}


