
.share-dialog {
    
    .md-toolbar-tools {
        height: fit-content;
    }

    .share-button {
        width: 33vw;
        padding: 1vw;
        margin: 2vw;
    }

    md-dialog-content {
        padding: 2vw;
    }
}