account-menu {
    md-sidenav {
        $gradient-end = #f5f4f3;
        // background: linear-gradient(to top, $gradient-end, #ffffff);
    }

    md-toolbar {
        padding: 0;
    }

    .avatar {
        width: 100%;
        height: 100%;
    }
}
