select-source {

    $border-radius = 0.8vw;

    .icon {
        width: 30vw;
        height: 20vw;
        margin-right: 3vw;
        background-position: center;
        background-size: cover;
        float: left;
        position: relative;
        opacity: 1;
        border-radius: $border-radius;
    }

    .icon::before {
        content: '';
        width: 100%;
        // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 40%, transparent);
        // background-image: linear-gradient(to right, rgb(54, 79, 149) 20%, rgba(124, 161, 239, 0.58));
        background-image: linear-gradient(to right, #122c65d9 20%, rgba(124,161,239,0.58));
        height: 100%;
        display: block;
        border-radius:$border-radius;
    }

    .text {
        color: #fff;
        font-weight: 600;
        font-size: 2.3vw;
        position: absolute;
        top: 0;
        bottom: 0;
        max-height: 100%;
        margin: 2vw;
        overflow: hidden;
    }

    .title {
        margin-bottom: 2vw;
    }

    .publisher {
        font-weight: 300;
        font-style: italic;
    }

    .scroll-window {
        width: 100%;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 0 0 3vw 0;
    }
}
