#feedback-button {
	position: fixed;
    bottom: 0;
    right: 0;
    /* border-left: 3vw solid transparent; */
    border-left: 20vw solid transparent;
    border-bottom: 20vw solid #ef4a48;
    margin: 0vw;
  }
  
#feedback-text {
	color:white;
	font-family:"Open Sans";
	font-weight: 900;
	position:fixed;
	bottom:6vw;
	right:1vw;
	font-size:3vw;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
}