@import "../../style/variables.less";
@import url('../../style/modal.less');

#feedback-button {
// 	position: fixed;
//     bottom: 0;
//     right: 0;
//     border-left: 20vw solid transparent;
//     border-bottom: 20vw solid #ef4a48;
//     margin: 0vw;
//     z-index:2;
//     
//     border-bottom: 20vw solid @brand-color;
    
    position: fixed;
    bottom: -1vw;
    right: -1vw;
    border-left: 21vw solid transparent;
    border-bottom: 20vw solid #ef4a48;
    margin: 0vw;
    z-index: 2;
    border-bottom: 14.9vw solid #da272c;
    
  }
  
#feedback-text {
// 	color:white;
// 	font-family:"Lato";
// 	font-weight: 900;
// 	position:fixed;
// 	bottom:5.3vw;
// 	right:0.5vw;
// 	font-size:3.2vw;
//     transform: rotate(-45deg);
//     -ms-transform: rotate(-45deg); /* IE 9 */
//     -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
//     
    color: white;
    font-family: "Montserrat";
    font-weight: 700;
    position: fixed;
    bottom: 3.6vw;
    right: -0.0vw;
    font-size: 2.7vw;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-36deg);
}