<div class="modal-header">
	<h2 class="modal-title" id="modal-title">
		Geef ons feedback.<br>
		<small>Laat ons weten wat je vindt of wilt.</small>
	</h2>
</div>
<div class="modal-body" id="modal-body">
	<div class="form-group">
		<textarea ng-model="$ctrl.feedback" class="form-control" rows="5"
			id="comment"></textarea>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Annuleren</button>
	<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Versturen</button>
</div>