<div class="company-logo-container" ng-click="clickLogo($event)">
	<img class="company-logo" src="/logos/newnews_bw_simplified.png" />
	<div class="company-text">
		<span class="company-logo-title">jouw<b>pers<span class="pectives">pectives</span></b>
			<br>
			<span class="company-strategy">jouw
				<b>perspectief</b>
			</span>
		</span>
	</div>
</div>

<article-actions-button class="add-article-top-menu"></article-actions-button>

<ul class="menu">
	<li ng-hide="isActive('/')">
		<a href="/">&#8612; terug</a>
	</li>

	<li ng-show="isActive('/')">
		<a href="">nieuwsoverzicht</a>
	</li>

	<auth style="float:right;padding-right:4vw;"></auth>
	<!-- 	<login-buttons class="right"></login-buttons> -->

	<!-- <span ng-if="isActive('/topic')" class="menu-view-switch" sidebarjs-toggle> -->
		<!-- <i class="fa fa-th" aria-hidden="true"></i>
  		<i class="fa fa-bars" aria-hidden="true"></i> -->
		<!-- <i class="fa fa-comments" aria-hidden="true"></i>
	</span> -->

</ul>