<div class="company-logo-container" ng-click="$ctrl.clickLogo($event)">
	<img class="company-logo" src="/logos/jouwpers-logo-no-bg.svg" />
	<div class="company-text">
		<span class="company-logo-title">Jouw<b>pers</b>
		</span>
		<!-- <span class="beta-tag">BETA</span> -->
	</div>
</div>

<article-actions-button class="add-article-top-menu"></article-actions-button>

<day-selector></day-selector>

<div class="mission-header" ng-click="$ctrl.clickMission();">
	Iedere dag vanaf 15:00 een nieuw verrassingspakket met frisse invalshoeken bij het nieuws.
</div>