@import 'nib';

md-toast.first-use-toast {
    .md-toast-content {
        background-image: linear-gradient(to right, #005c97, #363795);
        height: 14vw;
        opacity: 1;
    }

    .shimmer {
        
        font-weight: 700;

        $shadow-text-color = #ffffff8f;
        $highlight-text-color = #fff;

        background: $shadow-text-color -webkit-gradient(linear, 100% 0, 0 0, from($shadow-text-color), color-stop(0.5, $highlight-text-color), to($shadow-text-color));
        background-position: -4rem top; 
        background-size: 3rem 100%; 
        
        background-repeat: no-repeat;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: rgba(255, 255, 255, 0.8); //fallback text color

        animation: shimmer 7s infinite;

        @keyframes shimmer {
            0% {
                background-position: -4rem top; /* 50px */
            }

            15% {
                background-position: -4rem top; /* 50px */
            }

            45% {
                background-position: 104vw top; /* 200px */
            }

            100% {
                background-position: 104vw top; /* 200px */
            }
        }
        
    }
}