<div class="header-title">
{{ title }}
</div>
  
<div class="square" ng-repeat="item in newsItems" ng-click="hideShow=(hideShow ? false : true)">
	<div class="bg" ng-style="{'background-image': 'url({{item.imgUrl}})'}"></div>
	<div class="content content-front" ng-if="!hideShow">
		<div class="table">
			<div class="table-cell">
				<p class="title">{{ item.title }}</p>
				<img class="logo" ng-src="{{ item.logoUrl }}">
			</div>
		</div>
	</div>
	
	<div class="content content-back" ng-if="hideShow">
		<div class="table">
			<div class="table-cell">
			
				<a href="{{ item.articleUrl }}" target="_self" class="read-btn">
					<span class="case" data-ng-if="item.type == 'text' "><i class="fa fa-book" aria-hidden="true"></i> Lees</span>
					<span class="case" data-ng-if="item.type == 'video' "><i class="fa fa-play-circle" aria-hidden="true"></i> Kijk</span>
				</a>
				
				<p class="article">{{ item.summaryText }}</p>

				<div class="article-vote">
					<a class="btn-vote btn-agree"><i class="fa fa-eye" aria-hidden="true"></i><br>scherp</a> 
					<a class="btn-vote btn-disagree"><i class="fa fa-low-vision" aria-hidden="true"></i><br>wazig</a>
				</div>

			</div>
		</div>
	</div>
</div>