select-source {
    .icon {
        width: 30vw;
        height: 20vw;
        margin-right: 3vw;
        background-position: center;
        background-size: cover;
        float: left;
        position: relative;
        opacity: 0.9;
        border-radius: 0.8vw;
    }

    .icon::before {
        content: '';
        width: 100%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 40%, transparent);
        height: 100%;
        display: block;
    }

    .text {
        color: white;
        font-weight: 600;
        font-size: 2.5vw;
        position: absolute;
        top: 0;
        padding: 2vw;
    }

    .title {
        margin-bottom: 2vw;
    }

    .publisher {
        font-weight: 300;
        font-style: italic;
    }
}

