<div class="scroll-window" id="scroll-{{topic._id}}" scroll-disabler ng-repeat="topic in $ctrl.topics | orderBy:'-latestUpdate'"
 ng-init="$ctrl.addLatestUpdateToTopic(topic)" ng-cloack>

	<div class="scroll-content">

		<topic-controls topic-id="topic._id" show-details="($ctrl.activeTopic == topic._id)  ? topicIsOpen : false"
			on-show-details="topicIsOpen = $event.showDetails; $ctrl.activeTopic=topic._id" >
		</topic-controls>

		<summary-tile topic="topic" show-details="($ctrl.activeTopic == topic._id)  ? topicIsOpen : false" 
			on-show-details="topicIsOpen = $event.showDetails; $ctrl.activeTopic=topic._id">
		</summary-tile>

		<div ng-show="($ctrl.activeTopic == topic._id)  ? topicIsOpen : false" style="display:flex;">

			<article-tiles topic="topic">
			</article-tiles>

			<comments-tile topic-id="topic._id">
			</comments-tile>

			<opinion-tile topic-id="topic._id">
			</opinion-tile>

		</div>
		
	</div>
	
</div>


<div class="more-topics-controls">
	<md-button class="md-raised" ng-click="$ctrl.loadMoreTopics();">Laad meer topics</md-button>
	<br>
	<md-button class="md-raised" ng-click="$ctrl.toggleYesterday();">{{ $ctrl.yesterday ? 'Top 5 vandaag' : 'Top 5 gisteren' }}</md-button>
	<md-button class="md-raised" ng-click="$ctrl.loadAllTopics();">Top 5 allertijden</md-button>
</div>
