@import 'nib';

topics {

    .scroll-window {
        margin: 3vw 0 0 0;
        padding: 0 0 3vw 0;
        width: 100%;
        overflow-x: scroll;
    }

    .scroll-content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        // width: fit-content;
        align-items: flex-start;
        position: relative;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .content-container {
        display: block;
        margin: 0vw 1vw;
        vertical-align: top;
    }

    .tile-container {
        // transition: height 0.3s;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 100%;
        width: 80vw;
        height: 104vw;
        box-shadow: 0.3vw 0.4vw 1.4vw rgba(4, 4, 4, 0.42);
        border-radius: 0.8vw;
        white-space: normal;
        
        overflow : hidden;
        
        background-size: cover;
        background-position: center;
    }

    .tile-header {
        text-align: left;
        color: darkgrey;
        font-weight: 400;
        font-size: 3vw;
        margin: 1vw 1vw;
    }
}
