<div class="tree-container">
	
	<div class="tree-header">
		<b>
			{{comment.ownerName || 'anoniem'}}
		</b>
		
		<span class="time-elapsed">
			{{ $ctrl.getTimeTag(comment) }}
		</span>
		
	</div>

	<div class="tree-text" 
		ng-bind-html="comment.comment |  linky:'_self':{class: 'a-extern'}">	
	</div>
	
	<div class="tree-footer">
	
		<div class="tree-voting">
					
			<div class="delete">
				<i class=" material-icons"
					ng-show="$ctrl.userCommentsMap[comment._id]"
					ng-click="$ctrl.showRemovalConfirmation($event, comment)">
					&#xE872;<!-- delete -->
				</i>
			</div>
			
			<a href="" ng-click="showDetails = $ctrl.willShowCommentField(showDetails);">
				Beantwoord <i class="fa fa-reply" aria-hidden="true"></i>
			</a>
		
			<div class="arrow-up" 
				ng-click="$ctrl.vote(comment._id,1);"
				ng-class="{true: 'upvoted', false: ''}[$ctrl.userVoteMap[comment._id]==1]">
			</div>
			
			<div class="voting-score">{{comment.score}}</div>

			<div class="arrow-down" 
				ng-click="$ctrl.vote(comment._id,-1);" 
				ng-class="{true: 'downvoted', false: ''}[$ctrl.userVoteMap[comment._id]==-1]">
			</div>
		
		</div>

		<form name="newComment" 
			ng-show="showDetails"
			ng-submit="showDetails=false;$ctrl.newComment(comment);" 
			novalidate>
			
			<textarea class="input" 
				ng-model="comment.newChildComment"
				required>
			</textarea>
				
			<input class="input-button"
				type="submit" 
				value="Beantwoord" 
				ng-disabled="newComment.$invalid"/>
		</form>

	</div>

	<div class="tree">
		<div ng-init="showDetails=false;"	
			ng-repeat="comment in comment.children"
			ng-include="$ctrl.commentsTreeTemplate">
		</div> 	
	</div>	

</div>