<div class="content-container" id="discuss-{{$ctrl.topicId}}">

	<div class="tile-header">Vraag en antwoord</div>

	<div class="tile-container">

		<div class="container">

			<div class="add-button">
				<a href="" ng-init="$ctrl.showRootInput=false" ng-click="$ctrl.showRootInput = $ctrl.willShowCommentField($ctrl.showRootInput);"
				 style="padding-right: 3vw;">
					Stel een vraag
					<i class="fa fa-reply" aria-hidden="true"></i>
				</a>
			</div>

			<form name="newCommentRoot" ng-show="$ctrl.showRootInput" ng-submit="$ctrl.showRootInput=false;$ctrl.newComment(comment);"
			 novalidate>

				<textarea class="input root" ng-model="comment.newChildComment" required></textarea>

				<input class="input-button root" type="submit" value="Vragen" ng-disabled="newCommentRoot.$invalid" />
			</form>

			<div class="tree root" ng-repeat="comment in $ctrl.comments" ng-include="$ctrl.commentsTreeTemplate"></div>

		</div>

	</div>

</div>