@import "{}/imports/style/variables";

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
    display: none;
}

desktop-viewer {
    
    .desktop-title {
        
        font-size:15px;
        margin: 15px;
        text-align:center;
        
    }
    .maincontentdiv {
        position: relative;
        height: 736px;
        width: 414px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        overflow: hidden;
        border: 1px solid #c1c1c1;
        box-shadow: 0.3vw 0.4vw 1.4vw rgba(4, 4, 4, 0.42);
            
        margin-right: auto;
        margin-left: auto;
            
        iframe {
            border:none;
        }
    }

    .logo-desktop {
    //	width:4.5vw;
        width:18px;
        margin-top: -6px;
        
    }	

    .red {
        color: $brand-color;
        //color: rgba(0, 0, 0, 0.7);
    }

}

