debate-tile {
    .md-button {
        font-size: 2.4vw !important;
    }

    .tile-container {
        position: relative;
    }

    question {
        border-bottom: 1px solid lightgrey;
        border-top: 1px solid lightgrey;
    }

    contact-info {
        display: flex;
        flex-direction: row;
        font-size: 2.2vw;
        padding: 2vw 0vw;
    }

    .question-controls {
        background: #f5f5f5;
    }

    .new-question-title {
        font-size: 2.2vw;
        font-weight: 600;
        padding: 4vw 0.8vw 2vw 0.8vw;
    }

    .new-question {
        position: absolute;
        bottom: 0;
        width: 100%;
        // height:50%;
        left: 0;
        background: #f5f5f5;
        border-top: 1px solid lightgrey;
    }

    .name {
        font-weight: 500;
    }

    .timestamp {
        font-style: italic;
    }

    contact-details {
        flex-direction: column;
        padding: 1vw;
    }

    content {
        display: flex;
        flex-direction: column;
        padding: 2vw;

        .avatar-img {
            width: 8vw;
            height: 8vw;
            margin: auto;
            border-radius: 50%;
        }

        .avatar {
            max-width: 15vw;
            padding: 1vw;
        }

        .question {
            font-size: 3.5vw;
            font-weight: 600;
        }

        .answer {
            font-size: 2.8vw;
            font-weight: 300;
        }
    }
}