@import 'nib';

debate-tile {
    $margin-left = 4vw;

    .question-container {
        display: flex;
        flex-direction: row;
    }

    .question-content-container {
        width: 100%;
    }

    .question-vote-container {
        background: #ececec;
        display: flex;
    }

    .answer-container {
        display: flex;
        flex-direction: row;
    }

    .answer-content-container {
        width: 100%;
    }

    vote {
        position: relative;
        padding: 0;
        top: auto;
        right: auto;
        padding:1vw;
    }

    .answer-vote-container {
        display: flex;

        vote {

            .arrow-up {
                border-bottom-color: #eaeaea;
            }

            .arrow-down {
                border-top-color: #eaeaea;
            }

            .arrow-up.upvoted {
                border-bottom-color: #a9a9a9;
            }

            .arrow-down.downvoted {
                border-top-color: #a9a9a9;
            }

            .vote-score {
                color: #d4d4d4;
            }
        }
    }

    .question-vote-container {
        vote {

            .arrow-up {
                border-bottom-color: #d2d2d2;
            }

            .arrow-down {
                border-top-color: #d2d2d2;
            }

            .arrow-up.upvoted {
                border-bottom-color: #a9a9a9;
            }

            .arrow-down.downvoted {
                border-top-color: #a9a9a9;
            }
        }
    }

    .a-extern {
        word-break: break-all;
        font-size: 2vw;
        font-style: italic;
        color: #2f4f9b;
    }

    .md-button {
        font-size: 2.4vw !important;
        margin: 1vw 8px;
        min-height: 30px;
        line-height: 20px;
    }

    .md-input {
        line-height: 1.6;
    }

    .spacing {
        margin: auto;
    }

    .first-use-text {
        padding: 4vw;
        padding-bottom: 6vw;
        font-size: 4.7vw;
        font-weight: 700;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65) 40%, transparent); // bottom side
        // padding-bottom: 20vw;
        color: #fff;
        // height: 16%;
    }

    .remove {
        float: right;

        padding: 4vw;
        padding-right: 2vw;
        padding-top: 2vw;

        .material-icons {
            font-size: 4vw !important;
        }
    }

    .tile-container {
        position: relative;
        background-image: url('/zoek_een_expert.jpg');
        // background:white;
    }

    .question {
        font-size: 3.4vw;
        font-weight: 600;
        padding: 0 4vw;
        padding-top: 3.5vw;
        line-height: 1.3;
    }

    .question-timestamp {
        font-size: 2vw;
        color: grey;
        font-style: italic;
        padding: 0 $margin-left;
        margin-top: 1vw;
    }

    .answer {
        // padding-left: $margin-left;
        // margin-top: $margin-left;
        padding: 2vw 4vw;
        font-size: 2.8vw;
        white-space: pre-wrap;
        overflow: hidden;
        // font-family: courier;
    }

    .answer-show-more-button {
        margin: auto;
        text-align: center;
        font-size: 2.3vw;
        font-weight: 600;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    question {
        border-bottom: 1px solid lightgrey;
        border-top: 1px solid lightgrey;
    }

    questions {
        overflow-y: scroll;
        overflow-x: hidden;
        padding-bottom: 8vw;
        margin-bottom: auto;
        transition: opacity 0.5s ease-in-out;
    }

    contact-info {
        position: relative;
        display: flex;
        flex-direction: row;
        font-size: 2.2vw;
        padding-left: $margin-left;
        padding-top: 2vw;
    }

    .question-controls {
        margin-top: 3vw;
        background: #ececec;
    }

    .new-question-title {
        font-size: 2.2vw;
        font-weight: 600;
        padding: 4vw 0.8vw 2vw 0.8vw;
    }

    .new-question {
        width: 100%;
        height: fit-content;
        background: #fff;
        // border-top: 1px solid #d3d3d3;
        margin-right: auto;
        margin-left: auto;
    }

    .name {
        font-weight: 500;
    }

    .headline {
        font-size: 1.5vw;
        margin-bottom: 0.6vw;
    }

    .timestamp {
        font-style: italic;
        font-size: 1.5vw;
    }

    contact-details {
        flex-direction: column;
        margin: auto 0;
        margin-left: 1vw;
    }

    content {
        position: relative;
        display: flex;
        flex-direction: column;
        border-bottom: 1px dotted #727272;
        // padding-bottom: 1vw;
        background: linear-gradient(to top, rgb(245, 245, 245) 0%, white);

        .avatar-img {
            width: 100%;
            height: 100%;
            margin: auto;
            border-radius: 50%;
        }

        .avatar {
            max-width: 10vw;
            padding: 1vw;
            max-height: 10vw;
        }
    }
}