debate-tile {
    $margin-left = 2vw;

    .md-button {
        font-size: 2.4vw !important;
    }

    .first-use-text {
        padding: 3vw;
        font-size: 4.7vw;
        font-weight: 700;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 20%, transparent);
        padding-bottom: 20vw;
        color: #fff;
        // height: 16%;
    }

    .remove {
        float: right;
        margin-right: $margin-left;
        margin-top: 4vw;

        .material-icons {
            font-size: 4vw !important;
        }
    }

    .tile-container {
        position: relative;
        background-image: url('http://www.kattensite.be/index.php?app=core&module=attach&section=attach&attach_rel_module=post&attach_id=85539');
    }

    .answer-container {
        padding: $margin-left 0;
        // border-bottom:1px solid lightgrey;
    }

    .question {
        font-size: 4vw;
        font-weight: 600;
        padding: $margin-left;
        padding-top: 3.5vw;
    }

    .question-timestamp {
        font-size: 2vw;
        color: grey;
        font-style: italic;
        padding: 0 $margin-left;
    }

    .answer {
        padding-left: $margin-left;
        margin-top: $margin-left;
        font-size: 2.8vw;
        font-weight: 500;
    }

    question {
        border-bottom: 1px solid lightgrey;
        border-top: 1px solid lightgrey;
    }

    questions {
        overflow-y: scroll;
        padding-bottom: 15vw;
        z-index: 1;
    }

    contact-info {
        display: flex;
        flex-direction: row;
        font-size: 2.2vw;
        padding-left: $margin-left;
    }

    .question-controls {
        margin-top: 3vw;
        background: #ececec;
    }

    .new-question-title {
        font-size: 2.2vw;
        font-weight: 600;
        padding: 4vw 0.8vw 2vw 0.8vw;
    }

    .new-question {
        position: absolute;
        bottom: 0;
        width: 100%;
        // height:50%;
        left: 0;
        background: white;
        border-top: 1px solid lightgrey;
    }

    .name {
        font-weight: 500;
    }

    .timestamp {
        font-style: italic;
    }

    contact-details {
        flex-direction: column;
        padding: 1vw;
    }

    content {
        display: flex;
        flex-direction: column;
        border-top: 1px solid lightgrey;

        .avatar-img {
            width: 8vw;
            height: 8vw;
            margin: auto;
            border-radius: 50%;
        }

        .avatar {
            max-width: 15vw;
            padding: 1vw;
        }
    }
}