rich-text-editor {
  article {
    min-height: 30vw;
    &:focus {
      outline: 0;
    }
  }

  md-card {
    margin:0;
    margin-bottom:2vw;
  }

  a {
    text-decoration: underline;
    color:blue;
    font-size:2.5vw;
    font-style:italic;
    margin: 0vw 2vw;
  }
}