rich-text-editor {
  text-editor {
    min-height: 30vw;
    line-height: 1.7;
    font-size: 3.3vw;
    word-wrap: break-word;

    &:focus {
      outline: none;
    }
  }

  md-card {
    margin: 0;
    margin-bottom: 2vw;
  }

  a {
    color: darkblue;
    font-size: 3vw;
    display: content;
    font-weight: 600;
    // margin: 0vw 2vw;
  }

  ul {
    margin: 0;
    margin-left: 4vw;
    // list-style-position: outside;
  }

  li {
    margin: 0;
  }

  .source-chip {
    background-color: #2f3c959c;
    border-radius: 3vw;
    padding: 0.7vw;
    margin: 0.5vw;
    color: white;
    display:inline;
  }
}
