hotness-indicator {
    .temperature {
        float: right;
        display: inline-block;
        font-size: 2vw;
        font-weight: 300;
        margin-right: 2vw;
        margin-top: 1vw;
    }
}