<h3 class="" style="text-align:left;margin-left:3vw;color:rgba(0, 0, 0, 0.7);font-weight:200;">Trump stapt uit klimaatakkoord</h3>


<div class="bundle-category cat1">
	
	<h4>Algemene berichtgeving</h4>


<div class="anti pro1">

	<img class=anti-img src="https://logo.clearbit.com/nos.nl">

</div>

<div class="anti pro2">

	<img class=anti-img src="https://logo.clearbit.com/www.businessinsider.nl">

</div>

<div class="anti pro3">

	<img class=anti-img src="https://logo.clearbit.com/www.volkskrant.nl">

</div>
	<div class="description">
	Volgens de VN-klimaat organisatie WMO warmt de aarde 0,3 °C extra op door het vertrek van de VS.    
						Ofwel, de consequenties zijn huge</div>

	
</div>




<div class="bundle-category cat2">
	<h4>Tegengeluiden</h4>
<div class="anti anti1">

	<img class=anti-img src="https://logo.clearbit.com/www.foxnews.com">

</div>
<div class="anti anti2">
	<img class=anti-img src="https://logo.clearbit.com/www.elsevierweekblad.nl">

</div>
<img class="add-img" src="https://cdn3.iconfinder.com/data/icons/glyph/227/Button-Add-3-128.png">

	
	
</div>

<div class="bundle-category cat3">
	<h4>Achtergrond</h4>
	
	<div style="display:inline-block;">
		<div class="facts-logo-1" >
		
		</div>
		<div class="facts-text-1 description">
		Klimaatconferentie COP21 in Parijs eind 2015 zorgde voor een akkoord dat de opwarming van de aarde moet beperken.
		</div>
	
	</div>


</div>

<div class="bundle-category cat5">
	<h4>Satire</h4>
	
	<div style="display:inline-block;">
	<iframe src="https://www.dumpert.nl/embed/7151309/d6dce568/?autoplay=1" width="" height="" class="dumpertembed" frameborder="0" allowfullscreen></iframe>
	</div>


</div>



<div class="bundle-category cat4">
	<h4>Discussie</h4>
		<input type="text"/>
</div>