<h3>Trump stapt uit klimaatakkoord</h3>


<div class="bundle-category cat1">
	<h4>In het nieuws</h4>

	<ul>
		<li>Wat en waar wordt hierover geschreven?</li>
		<li>Verschillende bronnen uit meerder kanelen over dit item</li>
	</ul>
</div>


<div class="bundle-category cat2">
	<h4>Andere perspectieven op dit nieuws</h4>

	<ul>
		<li>Bronnen met een afwijkendperspectief</li>
	</ul>
</div>

<div class="bundle-category cat3">
	<h4>De feiten</h4>

	<ul>
		<li>Feitelijke achtergrondinformatie (bijv. Wikipedia, van Dale)</li>
	</ul>

</div>



<div class="bundle-category cat4">
	<h4>Reageren / Discussie</h4>

</div>