@import url("https://fonts.googleapis.com/css?family=Material+Icons");

.add-article-top-menu {
	color: rgba(0, 0, 0, 0.3); 	
    float: right;
    margin-top: -12vw;
    padding-left: 2.5vw;
    padding-top: 1.4vw;
    margin-right: 2.3vw;
   
}

.add-article-from-bulletin-item {
	color:#cecece;
	
	float:left;
	
	padding-left: 2.5vw;
	padding-right: 4vw;
    padding-top: 1.4vw;
}

.material-icons {
	font-size: 6vw;
    margin-top: 0.3vw;
}