<div class="modal-header" ng-hide="$ctrl.urlDataIsLoaded" >
	<h2 class="modal-title" id="modal-title">
		{{$ctrl.headerText}}<br> <small>{{$ctrl.headerSubText}}</small>
	</h2>
</div>
<div class="modal-body" id="modal-body">
	<div class="form-group">

		<label ng-hide="$ctrl.urlDataIsLoaded" for="url">Plak een url naar een artikel</label>
		<textarea ng-model="$ctrl.article.url" ng-change="$ctrl.urlChange()" ng-blur="$ctrl.article"
		ng-hide="$ctrl.urlDataIsLoaded" 
			class="form-control" rows="3" id="url"></textarea>


		<label for="category">Selecteer de categorie waarin dit artikel het best past</label>
		<select id="category"
			class="form-control" ng-model="$ctrl.category.category">
			<option value="Algemene berichtgeving">Algemene berichtgeving</option>
			<option value="Andere kijk">Andere kijk</option>
			<option value="Entertainment">Entertainment</option>
		</select>

	</div>
</div>

<div class="bulletin-item-image-and-details-container" style="box-shadow:none;height:70vw;"
ng-if="$ctrl.urlDataIsLoaded">

	<div class="bulletin-item-image-container">

		<div class="bulletin-item-image"
			ng-style="{'background-image':'url(\'' + $ctrl.article.imageUrl + '\')'}">
		</div>

		<iframe ng-if="$ctrl.article.videoUrl"
			src="{{$ctrl.article.videoUrl}}" width="100%"
			height="60%" frameborder="0" allowfullscreen
			style="bottom: 16%; position: absolute; left: 0px;"></iframe>

		<div class="gradient-overlay"></div>

		<div class="bulletin-item-title-container">
			<div class="bulletin-item-title">
				{{$ctrl.article.title}}</div>
			<div class="bulletin-item-publisher">
				{{$ctrl.article.publisher}}</div>
		</div>

	</div>

	<div class="bulletin-item-description"
		ng-if="$ctrl.article.description">
		{{$ctrl.article.description}}</div>

</div>


<div class="modal-footer">

	<div ng-if="$ctrl.urlDataIsLoaded" class="remove-icon" ng-click="$ctrl.remove($ctrl.topicId, $ctrl.article)">
		<i class="material-icons">delete</i>
	</div>


	<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Annuleren</button>
	<button ng-if="$ctrl.urlDataIsLoaded" class="btn btn-primary" type="button" ng-click="$ctrl.ok()">
		Plaatsen
	</button>
</div>