.btn-primary {
    color: #fff;
    background-color: #0d2873;
    opacity: 0.8;
    border-color: #0d2873;
}
.btn-warning {
    color: #fff;
    background-color: #0d2873;
    opacity: 0.2;
    border-color: #0d2873;
}


.add-article-top-menu {
	color: rgba(0, 0, 0, 0.3); 	
    float: right;
    margin-top: -12vw;
    padding-left: 2.5vw;
    padding-top: 1.4vw;
    margin-right: 2.3vw;
}

.add-article-from-bulletin-item {
	color:#cecece;
	
	float:left;
	
	padding-left: 2.5vw;
    padding-top: 1.4vw;
}