
<div class="modal-header">
	<h2 class="modal-title" id="modal-title">
		{{$ctrl.headerText}}<br>
		<small>{{$ctrl.headerSubText}}</small>
	</h2>
</div>
<div class="modal-body" id="modal-body">
	<div class="form-group">
		
		<select class="form-control" ng-model="$ctrl.category">
		  <option value="Algemene berichtgeving">Algemene berichtgeving</option>
		  <option value="Andere kijk">Andere kijk</option>
		  <option value="Entertainment">Entertainment</option>
		</select>

		<textarea ng-model="$ctrl.url" 
		ng-change="$ctrl.urlChange()" class="form-control" rows="2" id="url"></textarea>
		
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Annuleren</button>
	<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Versturen</button>
</div>