<md-dialog class="write-option-dialog">
    <form ng-cloak>
        <md-toolbar class="md-toolbar-tools">

            <div flex>Schrijf hierover</div>
            <md-button class="md-icon-button" aria-label="Sluiten" ng-click="$ctrl.saveDocument()">
                <md-icon>close</md-icon>
            </md-button>

        </md-toolbar>

        <md-dialog-content class="md-dialog-content">

            <md-input-container class="md-block title-block">
                <label>Titel</label>
                <input ng-model="$ctrl.document.title" type="text">
            </md-input-container>

            <md-input-container class="md-block editor-block">
                <rich-text-editor flex init-content="$ctrl.initContent" add-article="$ctrl.addArticle" on-input="$ctrl.receiveHtml($event)"></rich-text-editor>
            </md-input-container>
            
            <md-input-container class="md-block">
                <div class="ref-label">Klik om te refereren</div>
                <select-source topic-id="$ctrl.topicId" articles="$ctrl.articles" on-article-ref-click="$ctrl.addArticleRef($event)"></select-source>
            </md-input-container>

            <md-input-container class="md-block new-url-container">
                <label ng-cloak>Of plak hier een url naar een nieuw artikel</label>
                <input class="modal-item-url-input" ng-model="$ctrl.article.url" ng-change="$ctrl.urlChange()" http-prefix>
                </input>
            </md-input-container>

        </md-dialog-content>

        <md-dialog-actions layout="row" align="center">
            <span flex></span>
            <md-button class="md-raised" ng-click="$ctrl.saveDocument()" md-autofocus tabindex="0">
                <md-icon>watch_later</md-icon> Opslaan voor later
            </md-button>
            <md-button disabled class="md-raised md-primary" ng-click="$ctrl.publishDocument()">
                <md-icon>send</md-icon> Plaatsen
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>