.write-option-dialog {
    color: rgba(0, 0, 0, 0.65);
    background: linear-gradient(to top, $gradient-end, #ffffff);

    h1, h2, h4 {
        font-weight: 600;
    }

    p, h3 {
        font-weight: 300;
    }

    ul {
        list-style-position: outside;
    }

    .first-use-content-block {
        // margin-bottom:15vw;
        background-color: white;
        padding: 0vw 5vw;
        margin-bottom: 5vw;
        // line-height: 1.2;

        // border-left: 2vw solid rgba(1, 91, 151, 0.21);;

        // $border-spacing = 4vw;
        // padding-left: $border-spacing;
        // margin-left: - $border-spacing;
        box-shadow: 0.3vw 0.4vw 1.4vw rgba(4, 4, 4, 0.42);
        border-radius: 0.8vw;
        white-space: normal;
        overflow-x: auto;
    }

    $gradient-end = #f5f4f3;
    background: linear-gradient(to top, $gradient-end, #ffffff);

    .ref-label {
        padding: 3vw 0.5vw;
        color: #ababab;
    }

    .editor-block {
        margin: 0;
        margin-top: -3vw;
    }

    md-card {
        margin-top: -3vw;
    }

    .title-block {
        margin-top: 2vw !important;
    }

    $gradient-end = #f5f4f3;

    .first-use-dialog-actions {
        background-color: $gradient-end;
    }
}
