.write-option-dialog {
    $gradient-end = #f5f4f3;
    background: linear-gradient(to top, $gradient-end, #ffffff);

    .ref-label {
        padding: 3vw 0.5vw;
        color: #ababab;
    }

    .editor-block {
        margin: 0;
        margin-top: -3vw;
    }

    md-card {
        margin-top: -3vw;
    }

    .new-url-container {
        margin-top: 7vw;
        margin-bottom: -4vw;
    }
}