.write-option-dialog {
    .ref-label {
        padding: 3vw 0.5vw;
        color: #ababab;
    }

    
        $gradient-end = #f5f4f3;
        background: linear-gradient(to top, $gradient-end, #ffffff);
    
}