<div layout="column" ng-cloak class="md-inline-form">

    <md-content layout-gt-sm="row" layout-padding>

        <md-input-container style="width:100%;">
            <label>Url</label>
            <input ng-model="$ctrl.url" ng-change="$ctrl.processUrl()">
        </md-input-container>


        <div class="article-preview" ng-repeat="article in $ctrl.articles" style="background-image:url('{{ article.image }}')">

            <div class="gradient-overlay">
                <div class="article-title">{{ article.title }}</div>

                <div class="article-logo" style="background-image:url('{{ article.logo }}')"></div>
                <div class="article-publisher">{{ article.publisher }}</div>
            </div>
        </div>

        <div>
            Output Metascraper
            <pre>{{ $ctrl.output4 | json }}</pre>
        </div>
        <div>
            Output Metaget
            <pre>{{ $ctrl.output | json }}</pre>
        </div>

        <div>
            Output Suq
            <pre>{{ $ctrl.output3 | json }}</pre>
        </div>
        <div>
            Output acemtp:meta-extractor
            <pre>{{ $ctrl.output2 | json }}</pre>
        </div>

        <div>
            Output opengraph.io
            <pre>{{ $ctrl.output1 | json }}</pre>
        </div>



    </md-content>

</div>