
<div class="post-edit-container post-view-container">
	<div class="post-view-message-container">

		<div class="voting" ng-if="dataAvailable">
			<div ng-click="$ctrl.vote($ctrl.post._id,1);" class="arrow-up"
				ng-class="{true: 'upvoted', false: ''}[$ctrl.voteValue($ctrl.post._id)==1]"></div>
			<div class="post-score">{{$ctrl.post.score}}</div>
			<div ng-click="$ctrl.vote($ctrl.post._id,-1);" class="arrow-down"
				ng-class="{true: 'downvoted', false: ''}[$ctrl.voteValue($ctrl.post._id)==-1]"></div>
		</div>
		<div class="post-view-message" ng-bind="$ctrl.post.userMessage"></div>
	</div>

	<div class="post-edit-image" ng-if="$ctrl.post.imageUrl"
		ng-style="{'background-image':'url(\'' + $ctrl.post.imageUrl + '\')'}">

		<div ng-bind-html="$ctrl.post.publisher" class="post-edit-publisher"
			type="text" name="text" name="publisher"></div>
		<a ext-link href="{{$ctrl.post.url}}" target="_self">
			<div ng-bind-html="$ctrl.post.title" class="post-edit-title"></div>
		</a>
	</div>

	<div class="post-edit-footer">
		<a ext-link href="{{$ctrl.post.url}}" target="_self">
			<div class="post-edit-logo"
				ng-style="{'background-image': 'url(\'' + $ctrl.post.logoUrl + '\')'}"></div>
			<div ng-bind-html="$ctrl.post.description"
				class="post-edit-description"></div>
		</a>
	</div>

	<!-- <img src="thread.png" style="width:100%;margin-top:3vw;"/> -->

</div>


<script type="text/ng-template" id="comment_renderer.html">
	
	<div class="comment-content-container">
		
		<div class="comment-content-header">
			<b>{{comment.ownerName || 'anoniem'}} </b>
		</div>
		<div class="comment-content-text" ng-bind-html="comment.comment | linky">	
		</div>

 		<div class="comment-content-footer">
			
			<div class="comment-content-voting">	
				<a href="" ng-click="showDetails = ! showDetails">Reageer <i class="fa fa-reply" aria-hidden="true"></i></a>	
				<div class="arrow-up-comment" ng-click="$ctrl.vote(comment._id,1);" ng-class="{true: 'upvoted', false: ''}[$ctrl.voteValue(comment._id)==1]"></div>
				<div class="comment-voting-score">{{comment.score}}</div>
				<div class="arrow-down-comment" ng-click="$ctrl.vote(comment._id,-1);" ng-class="{true: 'downvoted', false: ''}[$ctrl.voteValue(comment._id)==-1]"></div>
			</div>

			<form name="newComment" novalidate style="margin-top:2vw;" ng-submit="$ctrl.newComment(comment);showDetails=false;" ng-if="showDetails">
				<textarea class="comment-input" ng-model="comment.newChildComment" required autofocus></textarea>
				<input class="comment-input-button" type="submit" value="Reageer" ng-disabled="newComment.$invalid"></input>
			</form>

		</div>

	
		<div class="comment-tree">
			<div ng-init="showDetails=false" ng-repeat="comment in comment.children" ng-include="'comment_renderer.html'">
			</div>
		</div>	

    </div>

</script>


<div class="comment-container">

	<div class="comment-add-pers-button">
		<a href="" ng-init="showRootInputPers=false"
			ng-click="showRootInputPers = ! showRootInputPers; showRootInput =false; "
			style="padding-right: 3vw;"><i
			class="fa fa-cube" aria-hidden="true"></i> Voeg een bron toe</a>
	</div>
	<div class="comment-add-comment-button">
		<a href="" ng-init="showRootInput=false"
			ng-click="showRootInput = ! showRootInput; showRootInputPers = false;"
			style="padding-right: 3vw;">Reageer op dit artikel <i
			class="fa fa-reply" aria-hidden="true"></i></a>
	</div>
	

	<form name="newCommentRoot" novalidate
		style="margin-top: 2vw;"
		ng-submit="$ctrl.newComment(comment);showRootInput=false;" ng-if="showRootInput">
		<textarea class="comment-input root"
			ng-model="comment.newChildComment" required autofocus></textarea>
		<input class="comment-input-button root" type="submit" value="Reageer"
			ng-disabled="newCommentRoot.$invalid"></input>
	</form>
	
	
	<form name="newPers" novalidate
		style="margin-top: 2vw;"
		ng-submit="$ctrl.newPers(pers);showRootInputPers=false;" ng-if="showRootInputPers">
		<input http-prefix select-on-click class="pers-input root shimmer"
			ng-model="pers.url" required autofocus placeholder="Plak hier een url naar een verfrissend perspectief"></input>
		<input class="comment-input-button root" type="submit" value="Toevoegen"
			ng-disabled="newPers.$invalid"></input>
	</form>
	

	<div class="comment-tree" ng-repeat="comment in $ctrl.comments"
		ng-include="'comment_renderer.html'"></div>

</div>
