.comment-container{
	font-size:3vw;
	text-align:left;
	margin-bottom:20vw;

}

.comment {
	margin-bottom:3vw;
	}
	
	

.comment-input-container {
	height: 10vw;
	width:100%;
	

}
.comment-input {
	border: 1px solid #efefed;
	height:5em;
	width: 100%;
	
}