

<div class="post-edit-container post-view-container">
	<div class="post-view-message-container">

		<div class="voting">
			<div ng-click="$ctrl.upVote(id)" class="arrow-up"></div>
			<div class="post-score">{{$ctrl.post.score}}</div>
			<div ng-click="$ctrl.downVote(id)" class="arrow-down"></div>
		</div>
		<div class="post-view-message" ng-bind="$ctrl.post.userMessage"></div>
	</div>

	<div class="post-edit-image" ng-if="$ctrl.post.imageUrl"
		ng-style="{'background-image':'url(\'' + $ctrl.post.imageUrl + '\')'}">

		<div ng-bind-html="$ctrl.post.publisher" class="post-edit-publisher"
			type="text" name="text" name="publisher"></div>
		<a ext-link href="{{$ctrl.post.url}}" target="_self">
			<div ng-bind-html="$ctrl.post.title" class="post-edit-title"></div>
		</a>
	</div>

	<div class="post-edit-footer">
		<a ext-link href="{{$ctrl.post.url}}" target="_self">
			<div class="post-edit-logo"
				ng-style="{'background-image': 'url(\'' + $ctrl.post.logoUrl + '\')'}"></div>
			<div ng-bind-html="$ctrl.post.description"
				class="post-edit-description"></div>
		</a>
	</div>

	<!-- <img src="thread.png" style="width:100%;margin-top:3vw;"/> -->

</div>


<script type="text/ng-template"  id="comment_renderer.html">

    <b>{{comment.comment}}</b> - <a href="" ng-click="showDetails = ! showDetails">Reageer</a>

	<form style="margin-top:2vw;" ng-submit="$ctrl.newComment(comment);showDetails=false;" name=newComment novalidate ng-if="showDetails">
		<input type="text" ng-model="comment.newChildComment" autofocus="true"></input>
		<input class="post-input-button" type="submit" value="Opslaan"></input>
	</form>
	
    <ul>
        <li ng-init="showDetails=false" ng-repeat="comment in comment.children" ng-include="'comment_renderer.html'"></li>
    </ul>

</script>


<div class="comment-container">
	
	<a href="" style="padding-left:3vw;">Reageer op dit artikel</a>
		
	<form style="margin-top:2vw;" ng-submit="$ctrl.newComment(comment);showDetails=false;" name=newComment novalidate >
		<input type="text" ng-model="comment.newChildComment"></input>
		<input class="post-input-button" type="submit" value="Opslaan"></input>
	</form>
			
	<li ng-repeat="comment in $ctrl.comments" ng-include="'comment_renderer.html'"></li>

</div>
