/* app css stylesheet */

@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500');
	
html {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
	box-sizing: initial !important;
}

/* .lity-iframe-container {
  padding-top: 80vw; 4:3 ratio
} */

a {
	color: inherit;
	text-decoration: none;
}
body {
	font-size: 20px;
	font-family: 'Lato', verdana, sans-serif;
	color: #fff;
	text-align: center;
	background: #ECECEC;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


.popup-btn {
	background-color: #ececec;
    border: none;
    color: #7169a3;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    font-size: 3vw;
}

.popup {
        
    display: none;
    border: 6px solid #ececec;
    padding: 2em;
    text-align: center;
    background: #7169a3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    z-index: 1000;
    
    font-weight: 700;
    font-size: 4vw;
  	text-align: left;
	
	max-width: 240px;  		
}

.container {
	width: 80%;
	margin: 0 auto;
}

img.header-logo {
	width: 28px;
    position: relative;
    top: 7px;
    margin-right: 3px;
    
}

.header-title {
	color: #7d78a2;
    font-weight: 600;
    text-transform: uppercase;
    top: -6px;
    position: relative;
    font-size: 0.8em;
    opacity: 0.6;
    
    font-family:"Open Sans";
    font-weight:600;
}

.square {
	opacity: 0.75;
	float: left;
	position: relative;
	width: 30%;
	padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
	margin: 1.66%;
	/* background-color: darkslateblue; */
	background-color:#3d448b;
	overflow: hidden;
}

.content {
	position: absolute;
	height: 90%; /* = 100% - 2*5% padding */
	width: 90%; /* = 100% - 2*5% padding */
	padding: 5%;
}

.table {
	display: table;
	width: 100%;
	height: 100%;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}
/*  For list */
ul {
	text-align: left;
	margin: 5% 0 0;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0 0 0 5%;
	padding: 0;
}

/*  For responsive images as background */
.bg {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	/* you change this to "contain" if you don't want the images to be cropped */
	color: #fff;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.4;
}

p.title {
	cursor: pointer;
	margin: 0;
	padding: 0;
	text-align: left;
	font-weight: 900;
	font-size: 4.5vw;
}

.logo {
	display: block;
	max-width: 43%;
	max-height: 11%;
	width: auto;
	height: auto;
	position: absolute;
	bottom: 10px;
	right: 10px;`
}


p.content {
	margin: 0;
	padding: 0;
	text-align: left;
	font-weight: 900;
	font-size: 15px;
}

.article {
	text-align: left;
	overflow: hidden;
	font-size: 1.6vw;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 1em;
	cursor: pointer;
	
	font-family: 'Open Sans', sans-serif;
	
}


.read-btn {
	font-size: 2.3vw;
	font-weight: 600;
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 10px;
}


.btn-vote .fa {
	
	font-size:2.6vw !important;
}

.article-vote {
	font-size: 1.5vw;  
	font-weight: 600;
	cursor: pointer;
}

.btn-agree {
	position: absolute;
	right: 10px;
	bottom: 5px;
	/* text-align: right; */
}

.btn-disagree {
	position: absolute;
	bottom: 5px;
	left: 10px;
	/*text-align: left; */
}