<md-dialog class="write-option-dialog">
    <form ng-cloak>
        <md-toolbar class="md-toolbar-tools">

            <div flex>Jouw perspectief</div>
            <md-button class="md-icon-button" aria-label="Sluiten" ng-click="$ctrl.saveDocument()">
                <md-icon>close</md-icon>
            </md-button>

        </md-toolbar>

        <md-dialog-content class="md-dialog-content">

            <md-input-container class="md-block">
                <label>Titel</label>
                <input ng-model="$ctrl.document.title" type="text">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Schrijf hier jouw perspectief</label>
                <textarea ng-model="$ctrl.document.content" type="html" rows="8">
                </textarea>
            </md-input-container>

            <md-input-container class="md-block">
                <div class="ref-label">Klik om te refereren</div>
                <select-source topic-id="$ctrl.topicId" on-add-article-ref="$ctrl.addArticleRef($event)"></select-source>
            </md-input-container>

            <md-input-container class="md-block" ng-show="!$ctrl.urlDataIsLoaded">

                <label ng-cloak>Of plak een url naar een nieuw artikel</label>

                <input class="modal-item-url-input" ng-model="$ctrl.article.url" ng-change="$ctrl.urlChange()" http-prefix>
                </input>
            </md-input-container>

        </md-dialog-content>

        <md-dialog-actions layout="row" align="center">
            <span flex></span>
            <!-- <md-button class="md-raised" ng-click="$ctrl.dislike()">
                <md-icon>delete</md-icon> Verwijderen
            </md-button> -->
            <md-button class="md-raised" ng-click="$ctrl.saveDocument()">
                <md-icon>save</md-icon> Opslaan voor later  
            </md-button>
            <md-button class="md-raised md-primary" ng-click="$ctrl.saveDocument()" disabled>
                <md-icon>send</md-icon> Plaatsen
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>