
day-selector {
    .container {
        text-align: center;
        list-style: none;
        /* border-top: 0.08em solid #d4d4d4; */
        color: #3d448b;
        // font-family: "Montserrat", verdana, sans-serif;
        font-size: 3.7vw;
        /* background: rgba(255, 236, 0, 0.65); */
        color: rgba(0, 0, 0, 0.55);
        /* background: rgba(148, 148, 148, 0.38); */
        color: rgba(255, 255, 255, 0.91);
        /* border-top: 0.1em solid white; */
        /* background: #f35b20; */
        /* border-top: 0.08em solid rgba(134, 134, 134, 0.4); */
        background: rgba(243, 243, 243, 0.7);
        color: #5d5c5c;
        /* color: white; */
    }

    .md-button {
        min-width: 10vw;
    }
}
