.post-edit-container {
	height:40vw;
    color:white;
    font-family: "Montserrat";
    text-align:left;
   
}

a, a:visited, a:hover, a:active {
  color: inherit;
}


.post-edit-image {
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:100%;
    padding:3vw;
    position:relative;
//    opacity: 0.8;
    
      &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
	opacity: .6; 
  }
}

.post-edit-footer {
	
}

.post-edit-logo {
	height:15vw;
	width:15vw;
	background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    float:left;
}

.post-edit-description {
	padding:2vw;
	float:left;
	font-size:3vw;
	width:85vw;
//	height:15vw;
	color:#333333;
	font-family:"Helvetica";
}

.post-edit-title {
	font-size:7vw;
	line-height:1;
	position: absolute;
    bottom: 3vw;
	
}

.post-edit.publisher{
	float:right;
}


.yourpers-instructions {
	padding-left:6vw;
	padding-right:6vw;
	
	margin-bottom:3vw;
	
	text-align:left;
}

login-buttons.left {
		
	    display: inline;
	    float: left !important;
	    margin-right:1.2vw;
	    
	}
	
.invalid-message {
    margin-bottom: 3vw;
    margin-top: -1vw;	
}

input {
	width: 100%;
    border-width: 0px;
    border-top: 0.08em solid #d4d4d4;
    font-size:3vw;
    padding: 0.5em 0 0.5em;
    margin-bottom:1.5vw;
    box-sizing: border-box;
    padding-left:6vw;
     border-radius: 0;
     -webkit-appearance: none;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 3vw solid transparent;
  border-right: 3vw solid transparent;
  
  border-bottom: 3vw solid #3d448b;
  margin:1vw;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 3vw solid transparent;
  border-right: 3vw solid transparent;
  
  border-top: 3vw solid #3d448b;
  margin:1vw;
}

input {
	font-family:"Montserrat";
}

.add-perspective {
	
	margin-bottom:4vw;
	margin-top: 4vw;
	
}

.voting {
	float:left;	
}

 .post-input-text {

}

.post-input-button {
	background-color:#3d448b;
	color:white;
	width:77vw;	
	font-size:2.5vw;
	margin-top:2.5vw;
}

.post-input-button:disabled {
	background-color:#cccdda;
}

.post-message-container {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.post-message {
	margin-left: 4vw;
	margin-bottom: 4vw;
	display:table;
}

.post-details {
	float: left;
    text-align: left;
    /* margin: 3vw; */
    margin-left: 3vw;
    max-width: 60vw;
}


.post-title {
	font-size: 4vw;
}

.post-url {
	font-size: 1.5vw;
}

