<div class="add-perspective" ng-if="$ctrl.currentUser" 	>
	
	<form ng-submit="$ctrl.post()" name=addPost novalidate>
		
		<input type="url" ng-model="$ctrl.url" ng-change="$ctrl.urlChange()" class="post-input-url" placeholder="Deel hier een nieuw perspectief" required name="newUrl" http-prefix select-on-click />
		<!-- <div class="invalid-message" ng-if="addPost.newUrl.$dirty && addPost.newUrl.$invalid">Voer een geldige url in.</div> -->
		
		<!-- <input ng-model="$ctrl.newTitle" class="post-input-text" autofocus="true" placeholder="Titel" required name="newTitle"/>
		<div class="invalid-message" ng-if="addPost.newTitle.$dirty && addPost.newTitle.$invalid">Voer een titel in.</div> -->


		<div class="post-edit-container" ng-if="$ctrl.postMetaDataAvailable">
			<a href="{{$ctrl.url}}">
				<div class="post-edit-image"
					ng-style="{'background-image':'url(\'' + $ctrl.imageUrl + '\')'}">

					<div ng-bind-html="$ctrl.publisher" class="post-edit-publisher"
						type="text" name="text" name="publisher"></div>
					<div ng-bind-html="$ctrl.title" class="post-edit-title"></div>

				</div>
				
				<div class="post-edit-footer">
					<div class="post-edit-logo"
						ng-style="{'background-image': 'url(\'' + $ctrl.logoUrl + '\')'}"></div>
					<div ng-bind-html="$ctrl.description" class="post-edit-description"></div>
				</div>

			</a> 
			<input ng-model="$ctrl.newSubstantiation" class="post-input-text"
				autofocus="true" placeholder="Waarom gaat dit onze blik verruimen?" />
			<!-- <input type="submit" class="post-input-button" value="Toevoegen" ng-disabled="addPost.$invalid"/> -->
		</div>

	</form>
</div>

<div class="add-perspective" ng-if="!$ctrl.currentUser">
	<div class="yourpers-instructions"><login-buttons class="left"></login-buttons> om jouw perspectief te delen.</div>
</div>

<!-- <div class="post-message-container">
	<div class="post-message" ng-repeat="post in $ctrl.posts"
		ng-init="id=post._id" ng-animate="'animate'">


		<div class="voting">
			<div ng-click="$ctrl.upVote(id)" class="arrow-up"></div>
			<div>{{post.score}}</div>
			<div ng-click="$ctrl.downVote(id)" class="arrow-down"></div>
		</div>

		<a href="{{post.url}}" target="_self">
			<div class="post-details">
				<div class="post-title">{{post.title}}</div>
				<div class="post-url">{{post.url}}</div>
			</div>
		</a>
	</div>
</div> -->