// md-dialog {
    // z-index: 91 !important;
    // width: 80vw;   
// }

md-toolbar {
    background-image: linear-gradient(to right, #005c97, #363795);
    padding: 4vw;
}

md-toolbar-header {
    font-weight: 600;
    font-size: 4.7vw;
}

md-toolbar-subtitle {
    font-size: 3vw;
    font-weight: 300;
}

.md-dialog-content {
    padding: 4vw !important;
}

.md-button {
    font-size: 3vw !important;
}

