<sidebarjs class="">

	<div class="company-logo-container">
	
		<!-- <img class="company-logo" src="assets/logos/newnews_newcolors.png"/>  -->
		<i class="fa fa-comments company-logo" aria-hidden="true"></i>
		<div class="company-text">
			<span class="company-logo-title">your<b>pers</b><br> 
			<span class="company-strategy">The open source opinion.</span></span>
		</div>
	</div>
	
	<div>
        <div ng-repeat="chat in $ctrl.chats">
        		<div class="chat-message-container">
            		<div class="chat-ip">{{chat.username}}</div>
            		<div class="chat-message">{{chat.message}}</div>
            </div>
            <span></span>
        </div>
        <form ng-submit="$ctrl.sendMessage()">
            <input ng-model="$ctrl.newMessage" class="chat-input-text" autofocus="true">
            <input type="submit" class="chat-input-button" value="Send">
        </form>
    </div>

</sidebarjs>