opinion-tile {
    height: 100%;
    width: 100%;

    color:white;
    font-weight: 500;

    a {
        text-decoration: underline;
    }

    .opinion-container {
        padding: 3vw;
        padding-right: 5vw;
        height: 100%;
        overflow-y: scroll;

        $gradient-opacity = 1;
        // background-image: linear-gradient(to right, rgba(0, 92, 151, $gradient-opacity), rgba(54, 55, 149, $gradient-opacity));
        background-image: linear-gradient(to right, rgba(229, 45, 39, $gradient-opacity), rgba(179, 18, 23, $gradient-opacity)) !important;
    }
}