$transparante_white = rgba(255, 255, 255, 0.49); // #ffffff7d

opinion-tile {
    height: 100%;
    width: 100%;
    padding-right: 1vw;
    color: white;
    font-weight: 500;

    vote {
      position: relative;
        right: -1vw;
    }

    a {
        text-decoration: underline;
    }

    b {
        font-weight: 700;
    }

    h1 {
        font-size:5vw;
        width: 100%;
    }

    .header-button {
        margin-bottom:6vw;    
    }

	.opinion-information {
		color: $transparante_white;
		font-size: 3vw;
		padding-bottom: 4vw;
		font-weight: 600;
            height: 7vw;
	}

    .time-elapsed {
		color: white;
		opacity: 0.7;
		font-size: 2.5vw;
		font-weight: 300;
		float: right;
		margin-top: 0.38vw;
	}

    .edit-opinion-button {
        margin-bottom: 4vw;
    }
    .opinion-info {
        // float:right;
        margin-bottom:3vw;
        div {
            margin-bottom:1vw;
        }
    }

    .opinion-info-container {
        display:flex;
        flex-direction: row;        
        }

    .opinion-header {
        display:flex;
        flex-direction: row;    
    }

    .opinion-container {
        padding: 3vw;
        padding-right: 5vw;
        height: 100%;
        overflow-y: scroll;
        $gradient-opacity = 0.97;
        // background-image: linear-gradient(to right, rgba(0, 92, 151, $gradient-opacity), rgba(54, 55, 149, $gradient-opacity));
        // background-image: linear-gradient(to right, rgba(229, 45, 39, $gradient-opacity), rgba(179, 18, 23, $gradient-opacity)) !important;
        background-image: linear-gradient(to right, #d04040, #a52a2a) !important;
        // background: brown; // nice alternative
    }

    .spacing-for-button {
        height:7vw;
        }

    .content-text {
        text-align: justify;
        line-height: 1.6;
        font-size: 3.4vw;
        padding-bottom: 4vw;
    }

    .content.root {
		margin-left: -3vw;
        padding-left: 3vw;
		border-left: 3vw solid rgba(255, 255, 255, 0.53);
        margin-bottom: 12vw;
	}

    vote { 
        $arrow-width = 3.7vw;
        $arrow-narrow-side = 3.2vw solid transparent;
        $arrow-wide-side = $arrow-width solid $transparante_white;

        .arrow-up {
            width: 0;
            height: 0;
            margin: 1vw;
            border-left: $arrow-narrow-side;
            border-right: $arrow-narrow-side;
            border-bottom: $arrow-wide-side;
        }

        .arrow-down {
            width: 0;
            height: 0;
            margin: 1vw;
            border-left: $arrow-narrow-side;
            border-right: $arrow-narrow-side;
            border-top: $arrow-wide-side;
        }

        .upvoted {
            border-bottom: $arrow-width solid white;

            @keyframes bounceUp {
                0% {
                    transform: translateY(0);
                }

                15% {
                    transform: translateY(-1.2vw);
                }

                95% {
                    transform: translateY(0);
                }

                100% {
                    transform: translateY(0);
                }
            }

            animation: bounceUp 0.4s ease-out 0s 1 normal;
        }

        .downvoted {
            border-top: $arrow-width solid white;

            @keyframes bounceDown {
                0% {
                    transform: translateY(0);
                }

                15% {
                    transform: translateY(1.2vw);
                }

                95% {
                    transform: translateY(0);
                }

                100% {
                    transform: translateY(0);
                }
            }

            animation: bounceDown 0.4s ease-out 0s 1 normal;
        }

    }


}