<div class="content-container" id="opinion-{{$ctrl.topicId}}">

    <div class="tile-header">Jouw perspectief</div>

    <div class="tile-container">

        <div class="opinion-container">

            <div href="" class="header-button" ng-hide="$ctrl.userOpinionAvailable" ng-click="$ctrl.editOpinion($event)">
                <b>Schrijf jouw opinie
                    <br>in minstens 280 tekens</b>
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>

            <div ng-repeat="opinion in $ctrl.opinions | orderBy : '-score' " class="content root">

                <div class="opinion-header">
                    <h1>{{ opinion.title }}</h1>
                    <vote article-id="opinion._id"></vote>
                </div>

                <div href="" class="edit-opinion-button" ng-show="$ctrl.userOpinion._id==opinion._id" ng-click="$ctrl.editOpinion($event)">
                    Wijzigen
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>

                <div href="" class="spacing-for-button" ng-hide="$ctrl.userOpinion._id==opinion._id"></div>

                <div class="opinion-information">
                    <b>
                        {{ $ctrl.getUsername(opinion.ownerId) }}
                    </b>

                    <span class="time-elapsed">
                        {{ opinion.updatedAt | timeFromNow }}
                    </span>

                </div>


                <div class="content-text" ng-bind-html="opinion.content">
                </div>

            </div>

        </div>

    </div>
</div>