<div class="comment-content-container">
	
	<div class="comments-content-header">
		<b>{{comment.ownerName || 'anoniem'}}</b>
	</div>
	
	<div class="comment-time-elapsed">
		{{ $ctrl.getTimeTag(comment) }}
	</div>

	<div class="comments-content-text" 
		ng-bind-html="comment.comment |  linky:'_self':{class: 'a-extern'}">	
	</div>
	
	<div class="comment-content-footer">
	
		<div class="comments-content-voting">
					
			<div class="comments-delete">
				<i class=" material-icons"
					ng-show="$ctrl.userCommentsMap[comment._id]"
					ng-click="$ctrl.deleteComment(comment)">
					delete
				</i>
			</div>
			
			<a href="" ng-click="showDetails = ! showDetails">
				Reageer <i class="fa fa-reply" aria-hidden="true"></i>
			</a>
		
			<div class="comments-arrow-up" 
				ng-click="$ctrl.vote(comment._id,1);"
				ng-class="{true: 'comments-upvoted', false: ''}[$ctrl.userVoteMap[comment._id]==1]">
			</div>
			
			<div class="comment-voting-score">{{comment.score}}</div>

			<div class="comments-arrow-down" 
				ng-click="$ctrl.vote(comment._id,-1);" 
				ng-class="{true: 'comments-downvoted', false: ''}[$ctrl.userVoteMap[comment._id]==-1]">
			</div>
		
		</div>

		<form name="newComment" 
			ng-if="showDetails"
			ng-submit="$ctrl.newComment(comment);showDetails=false;" 
			novalidate>
			
			<textarea class="comments-input" 
				ng-model="comment.newChildComment"
				required>
			</textarea>
				
			<input class="comments-input-button"
				type="submit" 
				value="Reageer" 
				ng-disabled="newComment.$invalid"/>
		</form>

	</div>

	<div class="comments-tree">
		<div ng-init="showDetails=false;"	
			ng-repeat="comment in comment.children"
			ng-include="$ctrl.commentsTreeTemplate">
		</div>
	</div>	

</div>