.comments-container {
	
	height: 100%;
    width: 100%;
    
    padding:3vw;
    
    div {
    	margin-bottom:3vw;
    	}
    
}

.comments-add-comment-button {
	
    font-family: "Montserrat";
    font-weight:600;
    
    color:white;

}

.comments-input {
	width:100%;
}


.comments-input-button {
	width:100%;
}