<div class="comment-content-container">
	
	<div class="comment-content-header">
		<b>{{comment.ownerName || 'anoniem'}} </b>
	</div>
	<div class="comment-content-text" ng-bind-html="comment.comment |  linky:'_self':{class: 'a-extern'}">	
	</div>

		<div class="comment-content-footer">
		
		<div class="comment-content-voting">	
			<a href="" ng-click="showDetails = ! showDetails">Reageer <i class="fa fa-reply" aria-hidden="true"></i></a>	
			<div class="arrow-up-comment" ng-click="$ctrl.vote(comment._id,1);" ng-class="{true: 'upvoted', false: ''}[$ctrl.getVoteValue(comment._id)==1]"></div>
			<div class="comment-voting-score">{{comment.score}}</div>
			<div class="arrow-down-comment" ng-click="$ctrl.vote(comment._id,-1);" ng-class="{true: 'downvoted', false: ''}[$ctrl.getVoteValue(comment._id)==-1]"></div>
		</div>

		<form name="newComment" novalidate style="margin-top:2vw;" ng-submit="$ctrl.newComment(comment);showDetails=false;" ng-if="showDetails">
			<textarea class="comment-input" ng-model="comment.newChildComment" required autofocus></textarea>
			<input class="comment-input-button" type="submit" value="Reageer" ng-disabled="newComment.$invalid"></input>
		</form>

	</div>


	<div class="comment-tree">
		<div ng-init="showDetails=false" ng-repeat="comment in comment.children" ng-include="'comment_renderer.html'">
		</div>
	</div>	

   </div>