opinino-controls {
    .tree-voting {
        color: $transparante_white;
        padding-bottom: 2vw;
        display: inline-block;
    }

    .arrow-up {
        width: 0;
        height: 0;
        border-left: 3vw solid transparent;
        border-right: 3vw solid transparent;
        border-bottom: 3vw solid $transparante_white;
        display: inline-block;
        margin-bottom: 1vw;
        margin-left: 3vw;
    }

    .arrow-down {
        width: 0;
        height: 0;
        border-left: 3vw solid transparent;
        border-right: 3vw solid transparent;
        border-top: 3vw solid $transparante_white;
        display: inline-block;
        margin-bottom: -1vw;
    }

    .upvoted {
        border-bottom: 3vw solid white !important;
        opacity: 1;

        @keyframes bounceUp {
            0% {
                transform: translateY(0);
            }

            15% {
                transform: translateY(-1.2vw);
            }

            95% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(0);
            }
        }

        animation: bounceUp 0.4s ease-out 0s 1 normal;
    }

    .downvoted {
        border-top: 3vw solid white !important;
        opacity: 1;

        @keyframes bounceDown {
            0% {
                transform: translateY(0);
            }

            15% {
                transform: translateY(1.2vw);
            }

            95% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(0);
            }
        }

        animation: bounceDown 0.4s ease-out 0s 1 normal;
    }
}