<div>{{ $ctrl.getUsername($ctrl.opinion.ownerId) }}</div>
<div>{{ $ctrl.opinion.updatedAt | timeFromNow }}</div>

<div class="tree-voting">

    <div class="delete">
        <i class=" material-icons" ng-show="$ctrl.userCommentsMap[comment._id]" ng-click="$ctrl.showRemovalConfirmation($event, comment)">
            &#xE872;
            <!-- delete -->
        </i>
    </div>

    <a href="" ng-click="showDetails = $ctrl.willShowCommentField(showDetails);">
        Wijzigen
        <i class="fa fa-reply" aria-hidden="true"></i>
    </a>

    <vote article-id="$ctrl.opinion._id"></vote>

</div>