<md-dialog aria-label="">
    <form ng-cloak>
        <md-toolbar class="md-toolbar-tools">

            <div flex>
                <span style="font-size:4.5vw"></span>Word een verrijker.</div>
            <md-button class="md-icon-button" aria-label="Sluiten" ng-click="$ctrl.close($event)">
                <md-icon>close</md-icon>
            </md-button>
        </md-toolbar>

        <md-dialog-content class="first-use-content">
            <div class="md-dialog-content">

                <div class="first-use-content-block">
                    <h4>Leuk dat je geïnteresseerd bent in een actieve rol bij de verrijking van het nieuws.</h4>
                    <!-- <p>Wij doen dit door bijvoorbeeld controversiële meningen of verdiepende filmpjes toe te voegen aan nieuwsberichten.</p> -->
                    <p>Doe met ons mee en inspireer elkaar met artikelen die we zelf niet snel vinden. Zodat we Nederland bevrijden
                        van de filterbubbel.</p>
                </div>

                <div class="first-use-content-block">
                    <h2>Join the club!</h2>
                    <md-input-container class="md-block" style="margin: 5vw -0.6vw;">
                        <label>Email</label>
                        <input name="email" ng-model="$ctrl.email" />
                        <!-- <div class="hint">Hoe kunnen we jou bereiken?</div> -->
                        <md-button ng-click="$ctrl.clickJoin($ctrl.email)" class="md-raised md-accent md-hue-3" style="margin: 5vw 0 0 0;">Inschrijven</md-button>
                    </md-input-container>
                    <!-- <section layout="row" layout-sm="column" layout-align="left left" layout-wrap>
                    </section> -->
                </div>
                <div class="first-use-content-block">
                    <h2 id="wat-kun-je-van-ons-verwachten-">What's in it for me?</h2>
                    <h4 id="nieuws">It’s fun</h4>
                    <p>Je zult zien dat actief op zoek zijn naar verdieping en verbreding een feestje is. En leerzaam. </p>
                    <!-- <p>En dat ook nog eens voor het goede doel: Nederland uit z’n filterbubbel bevrijden.</p> -->
                    <!-- <p>Bovendien is het geweldig om aan de ‘votes’ te zien of jouw toevoegingen waardevol zijn.</p> -->
                    <h4 id="mini-opinie">Verdien rechten in onze hechte community</h4>
                    <p>Je krijgt steeds meer rechten naarmate het vertrouwen van de rest van de community in jou stijgt.</p>
                    <!-- <p>Zo krijg je - als je voldoende bijdragen hebt geleverd die gewaardeerd worden - bijvoorbeeld het recht
                        om onderwerpen aan te passen of toevoegingen van anderen aan te passen.
                    </p> -->
                    <h4 id="discussie-of-beter-gezegd-q-a">E&eacute;n-cent-ives</h4>
                    <p>Last but not least: er ligt een kleine vergoeding in het verschiet.</p>
                    <p>Om waardevolle verrijking te stimuleren, onvang jij 1 eurocent voor elke upvote op jouw bronnen.</p>
                    </p>
                </div>


            </div>
        </md-dialog-content>

        <!-- <md-dialog-actions layout="row" align="center" ng-class="'first-use-dialog-actions'">
            <span flex></span>
            <md-button class="md-raised" ng-click="$ctrl.close($event)">
                <md-icon>thumb_down</md-icon>
            </md-button>
            <md-button class="md-raised md-primary" ng-click="$ctrl.close($event)">
                <md-icon>thumb_up</md-icon>
                Interessant
            </md-button>
        </md-dialog-actions> -->

    </form>
</md-dialog>