<div class="content-container">

    <div class="tile-header">Overzicht</div>

    <div class="tile-container">

        <div class="summary-header">
            {{$ctrl.bestArticle.title}}
        </div>

        <div class="categories">

            <div class="category cat1" 
                ng-repeat="categoryBlock in $ctrl.categories"
                ng-if="categoryBlock.articleIds.length > 0">
                {{ categoryBlock.category }}
            </div>

        </div>

        <div class="community">
            <div class="opinion">
                {{ $ctrl.bestOpinion.title}}
            </div>
            <div class="discussion">
                {{$ctrl.bestQuestion.comment}}
            </div>
        </div>

    </div>
</div>