summary-tile {
    display: flex;
    flex-direction: column;
    
    color:white;

    .summary-header {
        display: flex;
        background: red;
        min-height: 50vw;
        flex: 1;
    }

    .categories {
        display: flex;
        flex-direction: row;
        flex: 1;

        .category {
            display: flex;
            flex: 1;
        }

        .cat1 {
            background: blue;
        }

        .cat2 {
            background: purple;
        }

        .cat3 {
            background: pink;
        }
    }

    .community {
        display: flex;
        flex-direction: row;
        
        flex: 1;

        .opinion {
            display: flex;
            flex: 1;
            background: yellow;
        }

        .discussion {
            display: flex;
            flex: 1;
            background: green;
        }
    }
}