.bulletin-items-scroll-container {
	padding-left: 2vw;
    padding-right: 2vw;
    white-space: nowrap;
    overflow-x: scroll;
    padding-bottom: 3vw;
    margin-top: 3vw;
    text-align:left;


}

.bulletin-item-outer-container {
    
    margin: 1vw;	
    display:inline-table;
    width:80vw;
    

    
}

.bulletin-item-image-and-details-container {
    border-radius: 0.8vw;
    white-space: normal;
    overflow-x: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    box-shadow: 0.3vw 0.4vw 1.4vw rgba(4, 4, 4, 0.42);
    width: 100%;
    height: 104vw;
    opacity: 0.9;
//     background-color: rgba(0, 0, 0, 0.1);


}

.bulletin-item-image-container {

	
	position:relative;
	
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	
	
	    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
            
    -ms-flex:1;
     -webkit-flex: 1;
        flex:1;
        
   	min-width: 0;
	min-height: 0;
	overflow: hidden;
	
	}


.bulletin-item-image:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
//     background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0.2), #404040);
        background-image: linear-gradient(-180deg,rgba(0,0,0,.3),transparent);
    opacity: 0.4;
    
    pointer-events: none;
    z-index:1;
    
    
}

.bulletin-item-image {
	
	background-size: cover;
	background-position: center;
	
	background-color:white;
	
// 	filter: contrast(1.1) brightness(1.2) saturate(110%);
	opacity: 1;
    
	
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	
    -ms-flex:1;
     -webkit-flex: 1;
        flex:1;
        
    min-width: 0;
	min-height: 0;
	overflow: hidden;
	
	}


.bulletin-item-description {
    color: #151515;
    z-index: 1;
    font-size: 3.vw;
    text-align: left;
    line-height: 1.6;
    background: white;
    /* background: linear-gradient(to bottom, rgba(236, 233, 230, 0.36), #ffffff); */
    padding: 4vw;
    font-family: Montserrat;
    font-weight: 400;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
    min-height: 0;
    max-height: 42vw;
    overflow-y: scroll;
   
}



.full-height{
	height:100%;
	}

.rest-of-height{
	height:auto;
	}
	
.bulletin-item-title-container {
    position: absolute;
    bottom: 0;
    width:100%;
    
    font-family: "Montserrat";
    text-align: left;
    padding: 4vw;
    
    background-image: linear-gradient(to top,rgba(0,0,0,.7) 40%,transparent);
    line-height: 1.4;
    
    z-index:4;
	
	}
	
.bulletin-item-controls-container {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 10%, transparent);
    position: absolute;
    height: 25vw;
    width: 100%;
    z-index: 2;
}
	
.bulletin-item-title {
	color: white;
    font-size: 4.7vw;
    font-weight: 700;
    
    z-index:3;
    
	}

.bulletin-item-publisher {
	color: white;
    font-size: 3vw;
    margin-top:3vw;
    margin-bottom:1.5vw;
    font-style:italic;
    font-weight: 400;
    opacity:0.8;
    
    z-index:3;

    
	}		

.bulletin-item-header {
    text-align: left;
    color: darkgrey;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 3vw;
    margin: 1vw 1vw;
	
	}

.bulletin-sources {
	white-space: nowrap;
    overflow-x: scroll;
    
    width: 100%;
    max-width:80vw;
    background-color: white;
    
    text-align:right;
	
}

.bulletin-source {
	
	display:inline-block;
	
	height:7vw;
	width:7vw;
	
	background-size:cover;
	
	margin-right:5vw;
	margin-bottom:0vw;
	margin-top:1vw;

    filter: grayscale(100%);
    opacity: 0.6;
	
	
	}

.bulletin-source-selected {
	filter:grayscale(0%);
	opacity:1;
	   
	content: "";
    
	}

.solid-overlay {
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    opacity:0.5;
	background-color: rgba(0,0,0,.1);
	pointer-events: none;
	z-index:1;
	 
	}


	
.bulletin-voting {
	position:absolute;
	right:3vw;
	top: 3vw;
	z-index:3;
}

.bulletin-vote-score {
	color:white;
	text-align:center;
	font-weight:700;
	font-size:3.5vw;
	font-family:"Montserrat";
	margin:1.5vw;
}

.bulletin-arrow-up {
  width: 0; 
  height: 0; 
  border-left: 3.2vw solid transparent;
  border-right: 3.2vw solid transparent;
  
  border-bottom: 3.7vw solid white;
    margin:1vw;
}

.bulletin-arrow-down {
  width: 0; 
  height: 0; 
  border-left: 3.2vw solid transparent;
  border-right: 3.2vw solid transparent;
  
  border-top: 3.7vw solid white;
    margin:1vw;

}


.keyframes(@name; @arguments) {
	@-moz-keyframes @name { @arguments(); }
	@-webkit-keyframes @name { @arguments(); }
	@keyframes @name { @arguments(); }
}

.animation(@arguments) {
	-webkit-animation: @arguments;
	-moz-animation: @arguments;
	animation: @arguments;
}

.bulletin-upvoted {
	
// 	border-bottom: 3.7vw solid rgba(39, 86, 218, 1);
	
	border-bottom: 3.7vw solid rgba(10, 80, 191, 1);
	
	 
	 .keyframes(bounceUp;{
			0% {transform: translateY(0);}
			15% {transform: translateY(-1.2vw);}
			95% {transform: translateY(0);}
			100% {transform: translateY(0);}
		});

	.animation(bounceUp .4s ease-out 0s 1 normal)

}

.bulletin-downvoted {

	border-top: 3.7vw solid rgba(218, 39, 44, 1);
	
	.keyframes(bounceDown;{
		0% {transform: translateY(0);}
		15% {transform: translateY(1.2vw);}
		95% {transform: translateY(0);}
		100% {transform: translateY(0);}
	});

	.animation(bounceDown .4s ease-out 0s 1 normal;)
	
}


.link-disabled {
  cursor: not-allowed;
  pointer-events: none;
}


.comment-icon {
	
	margin-bottom:4.5vw;
	
		
}

.comment-share-bundle {
	
	}

.share-icon {
	
	margin-left:3vw;
		
}


.bulletin-edit-icon {
 
}


.bulletin-item-icons {
	
	position:absolute;
	margin:3.5vw;
	margin-left:3.5vw;
	margin-top:3.0vw;
	
		
	z-index:3;
	float:left;
	color:white;
	
}

.bulletin-video-player-iframe {
	position: absolute; 
	bottom:0; 
	top:0; 
	height:100%; 
	width:100%; 
	border: none;
}