<div class="bulletin-items-scroll-container"
	ng-repeat="topic in $ctrl.topics | orderBy:'-createdAt'" 
	ng-init="topic.selectedArticle = {}">

	<div class="bulletin-item-outer-container"
		ng-repeat="categoryBlock in topic.articlesByCategory | orderBy:'sortingOrder'" 
		ng-show="articles.length>0"
		ng-init="
			categoryName=categoryBlock.category; 
			articles=$ctrl.getArticlesByIds(categoryBlock.articleIds);
			topic.selectedArticle[categoryName]=$ctrl.getArticleWithHighestScore(articles);
			$ctrl.loadedArticles= $ctrl.loadedArticles.concat(categoryBlock.articleIds);
			">
	
		<div class="bulletin-item-header">{{categoryName}}</div>

		<div class="bulletin-item-image-and-details-container">

			<div class="bulletin-item-image-container">
				
				
				<div class="bulletin-item-icons">
					
					<div class="">
					<i class="material-icons comment-icon">insert_comment</i>
					<i class="material-icons share-icon">share</i>
					</div>
					<yourpers-article-actions
						topic-id="topic._id" 
						category="categoryBlock" 
						article="topic.selectedArticle[categoryName]" 
						class="bulletin-edit-icon">
					</yourpers-article-actions>
					
				</div>
				
				
				<div class="bulletin-voting" 
					ng-init="" 
					ng-if="true">
					
					<div ng-click="$ctrl.vote(topic.selectedArticle[categoryName],1)" 
						class="bulletin-arrow-up" 
						ng-class="{true: 'bulletin-upvoted', false: ''}[$ctrl.userVoteMap[topic.selectedArticle[categoryName]._id]==1]">
					</div>
					
					<div class="bulletin-vote-score">
						{{$ctrl.articlesScoreMap[topic.selectedArticle[categoryName]._id] || 0}}
					</div>
					
					<div ng-click="$ctrl.vote(topic.selectedArticle[categoryName],-1)" 
						class="bulletin-arrow-down" 
						ng-class="{true: 'bulletin-downvoted', false: ''}[$ctrl.userVoteMap[topic.selectedArticle[categoryName]._id]==-1]">
					</div>
					
				</div>
				
				<div class="bulletin-item-image" 
					ng-style="{'background-image':'url(\'' + (topic.selectedArticle[categoryName].imageUrl) + '\')'}"
					style="background-color:{{ topic.selectedArticle[categoryName].videoUrl ? 'black' : 'rgb(187, 187, 187)' }}">
				</div>
				
				<iframe class="bulletin-video-player-iframe" 
					ng-if="topic.selectedArticle[categoryName].videoUrl" 
					src="{{topic.selectedArticle[categoryName].videoUrl}}" 
					allowfullscreen>
				</iframe>

				<div class="gradient-overlay"
					ng-hide="topic.selectedArticle[categoryName].videoUrl"> 
				</div>
				
				<div class="solid-overlay">
				</div>

				<a href="{{topic.selectedArticle[categoryName].url || ''}}" 
					target="_self"
					class="{{topic.selectedArticle[categoryName].videoUrl ? 'link-disabled' : ''}}"
					ng-hide="topic.selectedArticle[categoryName].videoUrl">
					
					<div class="bulletin-item-title-container">
						
						<div class="bulletin-item-publisher">
							{{topic.selectedArticle[categoryName].publisher}}
						</div>
							
						<div class="bulletin-item-title">
							{{topic.selectedArticle[categoryName].title}}
						</div>
							
					</div>
				</a>

			</div>
			
			<a href="{{topic.selectedArticle[categoryName].url || ''}}" 
				target="_self" 
				class="{{topic.selectedArticle[categoryName].videoUrl ? 'link-disabled' : ''}}">
				<div class="bulletin-item-description"
					ng-if="topic.selectedArticle[categoryName].description">
					{{topic.selectedArticle[categoryName].description}}
				</div>
			</a>

			<div class="bulletin-sources">
				
				<yourpers-article-actions 
					topic-id="topic._id"
					category="categoryBlock" 
					class="add-article-from-bulletin-item">
				</yourpers-article-actions>
				
				<div class="bulletin-source"
					ng-repeat="article in articles | orderBy:'-score'"
					ng-click="$ctrl.clickArticle(topic, categoryName, article)"
					ng-class="(article._id == topic.selectedArticle[categoryName]._id) ? 'bulletin-source-selected':''"
					ng-style="{'background-image':'url(\'' + (article.logoUrl) + '\')'}">
				</div>
			</div>

		</div>

	</div>
	
</div>