account-menu {
    md-sidenav {
        $gradient-end = #f5f4f3;
        background: linear-gradient(to top, $gradient-end, #ffffff);
    }

    md-toolbar {
        padding: 0;
    }

    md-card {
        box-shadow: 0.3vw 0.4vw 1.4vw rgba(4, 4, 4, 0.42);
        margin-bottom: 6vw !important;
        border-radius: 0.8vw;
    }

    md-content {
        background: transparent !important;
    }

    .avatar {
        width: 100%;
        height: 100%;
    }

}
