@import '{}/imports/style/variables';
@import 'nib';

::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
    display: none;
}

desktop-viewer {
    .call-to-action-bundle {
        display: flex;
        margin: auto;
        align-items: center;

    }

    .call-to-action-container {
        background-color: #fff;
        border-radius: 40px;
        width: 245px;
        color: rgba(0, 0, 0, 0.7);
        display: flex;
        margin-top: 22px;
        align-items: center;
        height: 55px;

    }

    .underline {
        text-decoration: underline;
    }

    .heavy {
        font-weight: 800;
    }

    .call-to-action {
        font-weight: 600;
        float: left;
        font-size: 9px;
        margin: auto 0;
        text-align: right;
        margin-right: 0px;
        display:block;
        
        align-items: center;
        
    }

    .qr-code-img {
        width: 50px;
        height: 50px;
        margin-left: 10px;
        opacity: 0.8;
        align-items: center;
    }

    .phone-simulator {
        position: absolute;
        left: -15px;
    }

    .phone-simulator-container {
        position: relative;
        left: 47vw;
    }

    .company-strategy {
        position: absolute;
        top: 90px;
        left: 50px;
        display: flex;
        flex-direction: column;

        a {
            text-align: left;
            display: block;
            margin-top: 19px;
            cursor: pointer;
            font-weight: 200;
        }

        a:hover {
            text-decoration: underline;
        }

        .features {
            color: #fff;
            width: 300px;
            font-size: 12px;
            line-height: 1.3;
            font-weight: 300;
            align-items: center;
        }

        .feature-details {
            font-weight: 400;
            font-size: 14px;
            align-items: center;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

        .feature-details-container {
            margin: auto;
            align-items: center;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

        .feature-category {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

        .feature-icon {
            margin-right: 15px;
            width: 100px;
            height: 85px;
            display: flex;
            align-items: center;
        }

        .svg-icon {
            color: white;
            margin: auto;
            width: 100%;
            height: 100%;
            align-items: center;
            padding: 10px;
        }

        .feature-title {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 5px;
        }

        .logo {
            display: flex;
            flex-direction: row;
            height: 55px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 4px;
            // width: min-content;
            width: 245px;
            border-radius: 40px;
            // margin-left: -26px;
            margin-bottom: 11px;
            align-items: center;

            .logo-img {
                width: 50px;
                float: left;
                margin-left: 6px;
                align-items: center;
            }

            .logo-title {
                // color: #fff;
                display: flex;
                flex: 1 0 0;
                font-weight: 400;
                font-size: 22px;
                margin: auto;
                margin-right: 20px;
                margin-left: 22px;
                // justify-content: center;
                align-items: center;
                align-content: center;
                color: rgba(0, 0, 0, 0.7);
            }
        }

        .title {
            color: white;
            font-weight: 700;
            font-size: 40px;
            float: left;
            // margin-left: 2px;
            margin-bottom: 80px;
        }
    }

    .desktop-background {
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        // background-image: url('https://www.stedencanvas.nl/wp-content/uploads/2016/02/Rotterdam-20.jpg');
        // background-image: url('http://static.panoramio.com/photos/original/24593955.jpg');
        background-image: url('https://i1.wp.com/jean-paulopperman.nl/wp-content/uploads/2016/03/Amsterdam-Grachten-fiets-avond.jpg');
        background-size: cover;
    }

    .gradient-overlay {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, rgba(0, 92, 151, 1), rgba(54, 55, 149, 0.95));
        opacity: 0.8;
    }

    .screen-overlay {
        // position: absolute;
        // z-index: 1;
        // right: -487px;
        // top: -136px;
        // width: 1647px;
        // pointer-events: none;
        position: absolute;
        z-index: 1;
        left: -450px;
        top: -136px;
        width: 1520px;
        pointer-events: none;
    }

    .desktop-title {
        font-size: 15px;
        margin: 15px;
        text-align: center;
    }

    .maincontentdiv {
        background: black;
        position: absolute;
        left: 56px;
        top: 55px;
        height: 778px;
        width: 379px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        overflow: hidden;
        border: 1px solid #c1c1c1;
        box-shadow: 0.3px 0.4px 1.4px rgba(4, 4, 4, 0.42);
        margin-right: auto;
        margin-left: auto;

        iframe {
            border: none;
            position: relative;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }
    }

    .logo-desktop {
        width: 18px;
        margin-top: -6px;
    }

    .red {
        color: $brand-color;
        // color: rgba(0, 0, 0, 0.7);
    }
}
