@import '{}/imports/style/variables';

::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
    display: none;
}

desktop-viewer {

    .company-strategy {
       
        position:absolute;

        top:35vh;
        left:5vw;

        .title {
            color:white;
            font-weight:700;
            font-size:3.3vw;

        }    
    }

    .desktop-background {
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        // background-image: url('https://www.stedencanvas.nl/wp-content/uploads/2016/02/Rotterdam-20.jpg');
        background-image: url('http://static.panoramio.com/photos/original/24593955.jpg');
        background-image: url('https://i1.wp.com/jean-paulopperman.nl/wp-content/uploads/2016/03/Amsterdam-Grachten-fiets-avond.jpg');
        background-size: cover;
    }

    
    .gradient-overlay {
        position: absolute;
        display: block;
        width:100%;
        height: 100%;
        background-image: linear-gradient(to right, rgba(0,92,151,0.95), rgba(54,55,149,0.95));
        opacity:0.8;
    }

    .screen-overlay {
        // position: absolute;
        // z-index: 1;
        // right: -487px;
        // top: -136px;
        // width: 1647px;
        // pointer-events: none;

        position: absolute;
    z-index: 1;
    right: -450px;
    top: -136px;
    width: 1520px;
    pointer-events: none;
    }

    .desktop-title {
        font-size: 15px;
        margin: 15px;
        text-align: center;
    }


    .maincontentdiv {
        background:black;
        position: absolute;
        // right: 200px;
        // top: 68px;
        // height: 845px;
        // width: 414px;

    right: 185px;
    top: 55px;
    height: 778px;
    width: 379px;

        -moz-border-radius: 15px;
        border-radius: 15px;
        overflow: hidden;
        border: 1px solid #c1c1c1;
        box-shadow: 0.3vw 0.4vw 1.4vw rgba(4, 4, 4, 0.42);
        margin-right: auto;
        margin-left: auto;

        iframe {
            border: none;
            position: relative;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }
    }

    .logo-desktop {
        width: 18px;
        margin-top: -6px;
    }

    .red {
        color: $brand-color;
        // color: rgba(0, 0, 0, 0.7);
    }
}
