@import url("https://fonts.googleapis.com/css?family=Material+Icons");


yourpers-article-actions {

    display: grid;

    // .material-icons {
    // 	font-size: 6vw;
    //     margin-top: 0.3vw;
    // }
}


.edit-article-from-topics {
    color:#cecece;
    
    float:left;
    
    padding-left: 2.5vw;
    padding-right: 4vw;
    padding-top: 1.4vw;
}

