@import 'nib';

topic-controls {

    .content-container {
        width: 14vw!important;
        padding-top:2vw;
    }

    .control-container {

    }

    .button-container {
        margin-bottom : 4vw !important;
    }

    .md-button {
        
        opacity: 0.7;
    }

    label {
        display:block;
        text-align:center;
        // transform: rotate(90deg);
        margin-left:-1vw;
        font-size:2vw;
    }
    
}