@import 'nib';

topic-controls {

    .content-container {
        width: 14vw!important;
        padding-top:3vw;
    }

    .control-container {

    }

    .md-button {
        margin-bottom : 2vw !important;
        opacity: 0.7;
    }
    
}