@import 'nib';

topic-controls {

    .content-container {
        width: 14vw!important;
        padding-top:2vw;
    }

    .control-container {
        // width: 14vw!important;
    }
    
    .md-button {
        opacity: 0.7;
        min-width: 10vw;
        font-size:2vw !important;
        line-height: 6vw;
        margin:2vw 1vw;
        padding: 2vw 0 0 0;
    }

}