<div class="content-container">

    <div class="control-header">
        &#x200b;
    </div>

    <div class="control-container">

        <md-button class="md-icon-button" 
        ng-click="$ctrl.dummyAlert($event)" aria-label="">
            <md-icon>edit</md-icon>
        </md-button>

        <md-button class="md-icon-button" 
        ng-click="$ctrl.dummyAlert($event)" aria-label="">
            <md-icon>note_add</md-icon>
        </md-button>

        <md-button class="md-icon-button" 
        ng-click="$ctrl.dummyAlert($event)" aria-label="">
            <md-icon>question_answer</md-icon>
        </md-button>

        <md-button class="md-icon-button" 
        ng-click="$ctrl.dummyAlert($event)" aria-label="">
            <md-icon>share</md-icon>
        </md-button>

    </div>

</div>