@import 'nib';

divider-bar {
    .text {
        transform: rotate(90deg);
        display: inline-block;
        min-width: 27vw;
        margin-top: 49vw;
        margin-left: -4vw;
    }

    text-align: center;
    font-size: 4.5vw;
    opacity: 0.5;
    font-weight: 100;
    padding: 0;
    min-width: 17vw;
}