divider-bar {
    
    text-orientation: sideways-right;
    writing-mode: tb;
    
    

    text-align: center;
    
    
    font-size: 3.5vw;
    opacity: 1.3;
    font-weight: 100;
    padding-right: 1vw;
    padding-left: 2vw;
}