<div class="add-perspective">
	
	<form ng-submit="$ctrl.post()" name=addPost novalidate>
		
		<input type="url" ng-model="$ctrl.url" ng-change="$ctrl.urlChange()" class="post-input-url shimmer" placeholder="Plak hier een url naar een verfrissend perspectief..." required name="newUrl" http-prefix select-on-click/>
	
		<input ng-if="$ctrl.postMetaDataAvailable" ng-model="$ctrl.userMessage" class=""
			autofocus="true" placeholder="Waarom gaat dit onze blik verruimen?" required />
			
		<input ng-if="$ctrl.postMetaDataAvailable" type="submit" class="post-input-button" value="Toevoegen" ng-disabled="addPost.$invalid" />


		<div class="post-edit-container" ng-if="$ctrl.postMetaDataAvailable">
		

				<div class="post-edit-image" ng-if="$ctrl.imageUrl"
					ng-style="{'background-image':'url(\'' + $ctrl.imageUrl + '\')'}">

					<div ng-bind-html="$ctrl.publisher" class="post-edit-publisher"
						type="text" name="text" name="publisher"></div>
					<div ng-bind-html="$ctrl.title" class="post-edit-title"></div>

				</div>
				
				<div class="post-edit-footer">
					<div class="post-edit-logo"
						ng-style="{'background-image': 'url(\'' + $ctrl.logoUrl + '\')'}"></div>
					<div ng-bind-html="$ctrl.description" class="post-edit-description"></div>
				</div>
		
		</div>

	</form>
</div>

<div class="view-posts" ng-if="dataAvailable">

		<div ng-repeat="post in $ctrl.posts" class="post-edit-container post-view-container" ng-init="id=post._id">
			
			
				<div class="post-view-message-container">
					
					<div class="voting" ng-init="voteValue=$ctrl.voteValue(id)" >
						<div ng-click="$ctrl.vote(id,1)" class="arrow-up" ng-class="{true: 'upvoted', false: ''}[voteValue==1]"></div>
						<div class="post-score">{{post.score}}</div>
						<div ng-click="$ctrl.vote(id,-1)" class="arrow-down" ng-class="{true: 'downvoted', false: ''}[voteValue==-1]"></div>
					</div>
					<a href="#!/item/{{id}}">
						<div class="post-view-message" ng-bind="post.userMessage"></div>
					</a>
				</div>
	
				<div class="post-edit-image" ng-if="post.imageUrl"
					ng-style="{'background-image':'url(\'' + post.imageUrl + '\')'}">
					<!-- ng-style="{'background-image':'url({{post.imageUrl}})'}"> -->

					
						<div ng-bind-html="post.publisher" class="post-edit-publisher"
							type="text" name="text" name="publisher"></div>
					<a ext-link href="{{post.url}}" target="_self" >	
						<div ng-bind-html="post.title" class="post-edit-title"></div>
					</a> 	
				</div>
			
				<div class="post-edit-footer">
					<a ext-link href="{{post.url}}" target="_self" >
						<div class="post-edit-logo"
							ng-style="{'background-image': 'url(\'' + post.logoUrl + '\')'}"></div>
						<div ng-bind-html="post.description" class="post-edit-description"></div>
					</a> 			
				</div>
				
				<div class="post-view-controls"> 
				
				<a href="#!/item/{{id}}">
						<div class="button-request-perspective"><i class="fa fa-cube" aria-hidden="true"></i> Verbreed dit artikel.</div>
						<div class="post-view-status">
						<!-- 0 <i class="fa fa-paperclip" aria-hidden="true"></i>   -->
						0 <i class="fa fa-comments-o" aria-hidden="true"></i>
						0 <i class="fa fa-cubes" aria-hidden="true"></i>
						</div>
					
				</a>
				</div>

			
		</div>

</div>