<md-dialog aria-label="">
    <form ng-cloak>
        <md-toolbar>
            Over ons.
        </md-toolbar>

        <md-dialog-content class="first-use-content">
            <div class="md-dialog-content">

                <div class="first-use-content-block">
                    <h1>Jouw perspectief.<br>Jouwpers.</h1>
                    <h3 id="mogen-wij-jou-helpen-bij-het-zoeken-naar-het-volledige-verhaal-achter-het-nieuws-">Mogen wij jou helpen bij het zoeken naar het volledige verhaal achter het nieuws?</h3>

                </div>

                <div class="first-use-content-block">

                    <h2 id="wat-is-jouwpers-">Wat is Jouwpers?</h2>
                    <p>Jouwpers is een open community van betrokken Nederlanders. Samen zijn wij op zoek naar een nieuwe vorm
                        van journalistiek in het veranderende medialandschap.</p>
                    <h4 id="zoek-jij-met-ons-mee-naar-de-toekomst-van-de-journalistiek-">Zoek jij mee naar de toekomst van het nieuws?</h4>
                </div>

                <div class="first-use-content-block">
                    <h2 id="waar-staan-wij-voor-">Waar staan wij voor?</h2>
                    <ul>
                        <li>Ongefilterde en volledige informatie vanuit alle perspectieven.</li>
                        <li>Eerlijke en opbouwende disussies tussen echte mensen.</li>
                        <li>Vermenging van lezen en schrijven, van lezers en auteurs. </li>
                    </ul>
                    <br>
                </div>

                <div class="first-use-content-block">
                    <h2 id="wat-kun-je-van-ons-verwachten-">Wat kun je van ons verwachten?</h2>
                    <h4 id="nieuws">Nieuws</h4>
                    <p>Wij behandelen drie nieuwsitems per dag. Deze nieuwsitems worden continu verrijkt met verbredende, verdiepende
                        of ontwrichtende bronnen. Wij geloven in objectiviteit door rijke subjectiviteit.</p>
                    <h4 id="mini-opinie">Mini Opinie</h4>
                    <p>Korte opiniestukken zijn de lijm tussen de blikverruimende bronnen. Schrijf kritisch commentaar of vergelijk
                        bronnen. Zie dit als een moderne variant van de ingezonden brief.</p>
                    <h4 id="discussie-of-beter-gezegd-q-a">Discussie, of beter gezegd, Q&amp;A</h4>
                    <p>Wij discussieren enkel en alleen in vraag-antwoord vorm. Open vragen leiden tot betere discussie dan
                        gesloten statements. Stel daarom open vragen en ontvang doelgerichte opbouwende antwoorden.</p>
                </div>

                <div class="first-use-content-block">
                    <h2 id="hoe-waarborgen-wij-onze-kwaliteit-">Hoe waarborgen wij onze kwaliteit?</h2>
                    <h4 id="alleen-gevalideerde-profielen">Alleen gevalideerde profielen</h4>
                    <p>Door inloggen via LinkedIn en een simpele identiteitscheck verlagen wij de kans van aanmelding van ongewenste
                        bezoekers. </p>
                    <h4 id="opbouwen-van-vertrouwen-binnen-onze-community">Opbouwen van vertrouwen binnen onze community</h4>
                    <p>De rechten van een gebruiker zijn afhankelijk van het opgebouwde vertrouwen. Vertrouwen verdien je door
                        bepaalde acties binnen Jouwpers. Vertrouwen verlies je door activiteiten tegen de eerder besproken
                        standpunten van de community.</p>
                    <h4 id="stemmen-en-melden-van-ongepaste-inhoud">Stemmen en melden van ongepaste inhoud</h4>
                    <p>Door een systeem van omhoog en omlaag stemmen komt de meest relevante content naar boven drijven. Ongepaste
                        inhoud kan worden gemeld.</p>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" align="center" ng-class="'first-use-dialog-actions'">
            <span flex></span>
            <md-button class="md-raised" ng-click="$ctrl.dislike()">
                <md-icon>thumb_down</md-icon>
            </md-button>
            <md-button class="md-raised md-primary" ng-click="$ctrl.like()">
                <md-icon>thumb_up</md-icon>
                Interessant
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>