login-buttons.right {
	margin-top:0.5vw;
	font-size: 3vw;
    display: inline;
    float: right;
    margin-right: 3vw;
}

#login-name-link {
	font-size:2.5vw;
}

// #login-dropdown-list {
//     position: fixed;
//     top: 25%;
//     left: 50%;
//     margin-left:-140px;
//     margin-top: -100px;
//     width: 280px;
//     font-family:"Montserrat" !important;
// }
// #login-buttons .login-link-and-dropdown-list {
//     position: relative;
//     
//     border : none;
// }

#login-dropdown-list {
	position: fixed;
    top: 0;
    left: 0;
    margin: 16vw 10vw;
    width:80vw;
    padding: 15px;
    
	}

.accounts-dialog label, .accounts-dialog .title {
    	    color: #777;
	    font-weight:normal;
	    font-style:normal;	
	    font-weight:300;
	    font-size:2.5vw;
	    font-family:"Montserrat";
	        	text-align: left;
	  margin-bottom:0.5vw;
    float: left;
    width: 100%;
}

#login-buttons #signup-link  {
	float:left;
	margin-left:1vw;
	font-size:3vw;
	
	font-family:"Montserrat";
	
	}

#login-buttons #back-to-login-link {
	float:left;
	margin-left:1vw;
	font-size:3vw;
	
	font-family:"Montserrat";


}

#login-buttons .login-close-text {
    
        float: none;
    display: table;
    margin-top: 4vw;
    margin-bottom: 3vw;
}


#login-buttons .login-button, .accounts-dialog .login-button {
    color: #fff;
    background-color: #c7c7c7;
    opacity: 1;
    border-color: #c7c7c7;
    border: 0;
        font-size: 3vw;
    padding: 2vw;
    border-radius: 0.8vw;
    float: right;
    margin-top: 10vw;
    margin-left: 2vw;

    color: #fff;
    background-color: #c7c7c7;
    opacity: 1;
    border-color: #c7c7c7;
    border: 0;
    font-size: 3vw;
    padding: 2vw;
    border-radius: 0.8vw;
    font-family:"Montserrat";
}

#login-dropdown-list:before{
	content:"Log in of maak een account";
	font-family:"Montserrat";
	
	
	

	font-style:none;
	text-decoration:none !important;
	text-align:left;
	border:0;
	
	
		font-size:5vw;
		font-weight:600;
	
	}


#login-buttons input[type=text], .accounts-dialog input[type=text], #login-buttons input[type=email], .accounts-dialog input[type=email], #login-buttons input[type=password], .accounts-dialog input[type=password] {
        	    display: block;
        	    
        	        margin-bottom: 1.6vw;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        height: 37px;
    font-family:"Montserrat";
    font-size: 3.3vw;
    text-align: left;
    padding: 1vw 2vw;
}



.login-close-text {
// 	visibility: hidden;
	}

.login-close-text:after {
// 	content:"Sluiten";
	}



.login-button {
	background: @button-color !important;
	border:none !important;
}

.accounts-dialog {
	border:0;
	border-radius:0.8vw;
	    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    z-index:999999;
    
	font-family: "Montserrat";
    font-size: 3.3vw;
    margin-bottom: 3vw;
    text-align: left;
    padding: 1vw 2vw;
    
	
	}

// .accounts-dialog:after{
// 	z-index:9;
// 	content:"";
// 	opacity:0.2;
// 	    position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     background-color: #000;
// 	}
