	
.modal-dialog {
	
	font-family:"Montserrat";
	text-align:left;
	margin: 16vw 10vw;
	
	input {
		font-size:3vw;
		font-family:"Montserrat";
		}
	
	#url {
		font-size:2.5vw;
		}
	
	
	label {
	    color: #777;
	    font-weight:normal;
	    font-style:normal;	
	    font-weight:300;
	    font-size:2.5vw;
		}
	
	
	}


.modal-content {
	
	border-radius: 0.8vw;
	border:none;

	
	}

.modal-title {
	line-height:1.1 !important;
	
}

.modal-footer {
	border:0;
	font-family:"Montserrat";
	}

.modal-header {
	
	font-family:"Montserrat";

	text-align:left;
	border:0;
	
	h2 {
		font-size:5vw;
		font-weight:600;
		}
	
	
	}

.form-control {
	font-family:"Montserrat";
	font-size:3.3vw;
	
	margin-bottom:3vw;
	text-align:left;
	
	
	-webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	
	}



.btn {
	font-size:3vw;
	padding:2vw;	
	border-radius:0.8vw;
}

.btn-primary, .btn-primary:hover {
    color: #fff;
//     background-color: #0d2873;//blue
    background-color: #080808;//dark grey
    opacity: 0.8;
//     border-color: #0d2873;
	border:0;
}
.btn-warning, .btn-warning:hover {
    color: #fff;
    background-color: #c7c7c7;
    opacity: 1;
//     border-color: #0d2873;
	border:0;
}
